[2015-04-17 20:44] tbranyen opened #1 "Add `configurable: true`"
Per @cowboy should add `configurable: true` to the property descriptor.

[2015-04-20 12:45] bevacqua opened #2 "License? Forking, etc"
Hey, great concept. I'm an environmentalist though, and don't quite like pollution. Is it okay if I fork this into just a `function` instead of a method on a browser prototype?

[2015-04-20 12:53] tbranyen commented on #2
Assume MIT, I'll add it in later

[2015-04-20 13:52] bevacqua commented on #2
https://github.com/bevacqua/diferente, added you as a collaborator in case you're interested in the modular approach. Thanks

[2015-04-20 13:52] #2 closed

[2015-04-20 18:20] tbranyen commented on #1
Closed via c4801bd520f1be4ebe196434a696ef5e0951bc96

[2015-04-20 18:20] #1 closed

[2015-04-22 02:46] leeluolee opened #4 "need benchmark ."
I have tried a similiar test like diffhtml. But i find that performance is even worse than `innerHTML`.

What about `diffhtml`

[2015-04-22 02:52] tbranyen commented on #4
I know it sounds strange, but performance isn't a primary concern with this project.  As for benchmarks, check out http://vdom-benchmark.github.io/vdom-benchmark/

We're using virtual-dom internally atm, so you can assume relative performance.

[2015-04-22 02:52] #4 closed

[2015-04-22 11:20] coderaiser opened #6 "data-name parameters are lost after patch"
When I do :

[code]
In results markup of element there is no `data-name`.

[2015-04-25 17:51] tbranyen commented on #6
@coderaiser looks to be a result of:

https://github.com/Raynos/virtual-hyperscript#data-

We may be able to patch over this.

[2015-04-29 15:25] nfroidure opened #7 "Allow using buffers + extra thoughts"
After having a look at React i also thought that something like an 'upsertHTML' would be far better and i'm really happy to see things moving that way.

One reason why i think the diffHTML approach is better is that building a string containing HTML and let browsers make the diff allows to avoid garbage collection cycles.

I think an optimal way to build that string would be to user buffers. Since

[2015-05-11 15:49] tbranyen commented on #6
Patched here: https://github.com/tbranyen/diffhtml/commit/04620904e34f103287538c448338daa6eb191de4#diff-6d186b954a58d5bb740f73d84fe39073R30

[2015-05-11 15:49] #6 closed

[2015-05-14 23:19] tbranyen opened #8 "Issue with comments"
Generates markup like:

[code]

[2015-05-22 19:08] endel opened #9 "Support inline styles"
Any inline style gets ignored.

[2015-05-22 19:19] tbranyen commented on #9
You mean something like

[code]

?

[2015-05-22 19:22] endel commented on #9
@tbranyen yep!

[2015-05-22 19:24] tbranyen commented on #9
Okay cool, I'll look into it, thanks for reporting

[2015-05-22 20:42] #8 closed

[2015-05-22 20:48] #9 closed

[2015-05-22 20:48] tbranyen commented on #9
All set @endel!

[2015-05-22 23:55] endel commented on #9
Great @tbranyen

[2015-05-25 08:44] tbranyen commented on #7
Hey @nfroidure thanks so much for your thoughts here.  virtual-dom was definitely chosen to get things working for a quick implementation.  It worked for my needs so I didn't consider the performance too closely.  After creating a rudimentary benchmark, I found that it's not usable for large DOMs.  At least not with any level of performance ~150ms re-renders.

I've rewritten the diff to maintain a

[2015-05-27 18:17] tbranyen commented on #7
Took your advice and now have diffing working in a web worker.  You simply pass a string to diffhtml, which it then converts to a u16array of codepoints.  A tree of the current DOM state is generated that links all present dom nodes to the internal node resolution.  The arraybuffer is transferred to the web worker, and tree is copied (only the first time though, and we can definitely inline this i

[2015-05-27 22:17] tbranyen commented on #7
A potential candidate for the HTML parsing could be http://erik.eae.net/simplehtmlparser/simplehtmlparser.js, which implements a SAX interface.  This would allow us to grab only what we need and ignore the rest.  It's also incredibly small so it won't be a problem loading into the web worker.

[2015-05-27 22:49] tbranyen commented on #7
Not sure if a DOM pool is really needed anymore.  We aren't creating excessive elements.  Going to punt on that for now.

[2015-05-28 02:04] tbranyen commented on #7
Yup that html parser works much better.  Still rather slow, 100ms per loop for large pages, but overall went from 500ms per render to about 200ms.

[2015-05-29 14:00] tbranyen commented on #4
Hey @leeluolee just wanted to apologize for the curt closing of this issue before.  I'm new to this space (virtual diff/rendering) and assumed that virtual-dom would be sufficient to benchmark against.  I brushed off your comment as "not my problem" because of the third party dependency.  However, I did some benchmarking and my experience was very similar to yours.  Basic rendering of a large dom

[2015-05-29 14:04] tbranyen commented on #7
The new html parser I'm using sits at around 80-100ms, but has more potential for optimization.  My goal is get sub 10ms parsing.  This will put us at:

Worker thread:

- 10ms parse
- 10ms diff
- 10ms emptying allocation pools

UI thread:

- 5ms patch (even with a ton of changes rarely goes about 5ms)

This will sit nicely at 35ms for total renders about 2.5x faster than it currently is on modern

[2015-05-31 10:58] nfroidure commented on #7
Wow! Didn't mind you would be that inspired by this issue!

I'll try to review your code and see if i can be of any help next week.

Feel free to give me some important information on particular things you'd like to get feedback.

[2015-05-31 13:55] tbranyen commented on #7
@nfroidure at the moment it's proof-of-concept and I plan on refactoring heavily.  At the moment if you could look at:

https://github.com/tbranyen/diffhtml/blob/rewrite/lib/diff/patch_node.js#L176-L271

That's where the magic happens.   Check out how I'm creating and transferring the ArrayBuffer.  Maybe some ideas on faster HTML parsing?  I'm finding that the initial tree copying into the worker

[2015-07-12 15:23] tbranyen opened #11 "Look into svg detection via children of svg tag"
Instead of detection via a large list of possible elements.

[2015-07-14 14:21] rahmanusta opened #12 "Re-executing js scripts"
Hello @tbranyen ;

Thanks for your great work diffhtml again. I'm using it in AsciidocFX editor. Editing HTML and CSS  is ok but I need to re-execute JavaScript codes after they changed. How can we do that with diffhtml ?

THanks

[2015-07-20 20:23] tbranyen opened #13 "Remove UUID in favor of incremental counter"
The uuid is overkill and too slow for what we need; remove in favor of a global counter.

[2015-07-22 11:46] tbranyen commented on #12
Hey @rahmanusta I'm not sure this is something we can do.  You might be able to just write some DOM code that finds the script tags and then evals the contents.  Let me know what you come up with!

[2015-08-03 06:56] rahmanusta commented on #12
@tbranyen If you can give me a hook when script element or it's content changed, I think I can handle that issue.

[2015-08-08 23:21] tbranyen commented on #12
@rahmanusta I'm working on the next version of diffhtml and I think this will possible with the transition API.  It would look something like:

[code]

Do you think that'd work for you?

[2015-08-08 23:30] tbranyen commented on #12
I'm going to work a bit more on this API, I think it should work more like `addEventListener`.  As you may want to set many transitions from different places in your code.  Maybe:

[code]

[2015-08-08 23:42] tbranyen opened #14 "Transitions API"
I've been thinking about a simplistic API for handling transitions.  I think
the following will be sufficient for working with animation libraries, CSS
animations, and vanilla JavaScript.

I think the API should be similar in style to `addEventListener` and
`removeEventListener`, as you may want to break up your transition code and not
have one giant function.  I think the methods: `addTransitionS

[2015-08-09 00:01] tbranyen commented on #12
Documenting my thoughts on the API here: https://github.com/tbranyen/diffhtml/issues/14

[2015-08-09 00:02] tbranyen opened #15 "Hardware concurrency"
It'd be great to have diffhtml coordinate around `navigator.hardwareConcurrency` if available.  We'll have to experiment if this knowledge of available cores will aid thread management.

[2015-08-09 00:13] tbranyen opened #16 "Barebones Custom Elements API pollyfill"
To make this library even more useful, it'd be great to provide a Custom Elements pollyfill that can support the following:

[code]

[2015-08-09 07:46] rahmanusta commented on #12
@tbranyen , the Transition API may help me for the need. I will try that!

[2015-08-09 13:38] tbranyen commented on #12
I haven't fully written it yet, but hopefully I'll have a beta today you can try!

[2015-08-09 13:44] rahmanusta commented on #12
Thank you @tbranyen !

[2015-08-09 18:17] tbranyen commented on #13
Closed via d2df3866003268d4c9f29e2d66641295b7a35dc6

[2015-08-09 18:17] #13 closed

[2015-08-10 15:38] tbranyen commented on #12
@rahmanusta https://github.com/tbranyen/diffhtml/blob/1eeeadcb179e4357bcc55fc48641f420f0a2223d/dist/diffhtml.js you could try using that, but you'll have to do the following now:

[code]

You'll then want to convert your assignments from `someElement.diffHTML = '...';` to either:

- `someElement.diffOuterHTML` to diff the current element and all children or
- `someElement.diffInnerHTML` to diff th

[2015-08-10 15:59] rahmanusta commented on #12
Thank you @tbranyen . I tried but I'm getting SyntaxError: Invalid regular expression: nothing to repeat

[2015-08-10 16:17] tbranyen commented on #12
Hrm darn, can you provide more error context.  Line # ,stack trace, etc.

[2015-08-10 16:52] rahmanusta commented on #12
@tbranyen It seems caused my mistake. added hook is running when an element added to DOM. So is there a way to hook script's src attribute and  it's  content changed ?

[2015-08-10 16:58] tbranyen commented on #12
Okay so you need attribute transitions as well.  I'll add that later today and ping you.  It should be trivial.  I'd imagine the API would look like:

[code]

I'll mess with the idea, might end up with `addAttributeTransitionState` that mirrors the element API, but that might be overkill.

[2015-08-10 17:00] rahmanusta commented on #12
Thank you @tbranyen, also note that don't hurry for my needs. But, I will use and will follow up this changes!

[2015-08-19 16:02] tbranyen commented on #14
To match the Custom Elements specification, I'm thinking to rename from added to attached and from removed to detached.

[2015-08-20 19:59] tbranyen commented on #7
Merged into master, still needs some performance and testing, but for now it's working good enough.  Thanks for all the help!

[2015-08-20 19:59] #7 closed

[2015-08-21 09:08] nfroidure commented on #7
Unfortunately, i couldn't help that much... Great work btw!

[2015-08-22 02:41] tbranyen commented on #12
@rahmanusta master has the API described above and https://github.com/tbranyen/diffhtml/blob/master/examples/transitions/script.html shows how you can monitor script text as well.

[2015-08-22 02:41] #12 closed

[2015-08-22 02:46] tbranyen commented on #14
Made those changes and updated the OP with the latest updates.

[2015-08-22 03:57] rahmanusta commented on #12
Thank you @tbranyen!

I will try that

[2015-08-22 05:51] rahmanusta commented on #12
@tbranyen It seems attached event works well but textChanged seems not. You can try that gist https://gist.github.com/rahmanusta/f097d65b3a496645bac4

[2015-08-22 13:31] tbranyen commented on #12
You're using `innerText` there, try `diff.innerHTML`.

[code]

[2015-08-22 14:02] rahmanusta commented on #12
@tbranyen  If I surround the text with a HTML element for example "span";

[code]

It works, but we know that style element or script element doesnt accept such a like HTML element.

[2015-08-22 17:50] tbranyen commented on #12
Hey @rahmanusta can you try with master? Should look like:

[code]

[2015-09-02 16:58] tbranyen opened #23 "Reuse the Uint16Array"
Since we're already sending the offset position, we could trivially reuse the Uint16Array instead of creating a new one every time.  The only time a new one would need to be created is if the newHTML is larger than the current size of the existing Uint16Array.

[2015-09-02 20:03] tbranyen opened #24 "Freeing memory off Worker"
Currently if a worker is not used, objects and arrays are never free'd.  Ensure that when elements are removed that their uuid, childNodes, and attributes are recursively free'd.

We also need to free all parser objects and arrays allocated as well.

[2015-09-13 00:11] #24 closed

[2015-09-13 00:11] #23 closed

[2015-09-19 13:32] tbranyen commented on #11
Punting on this for now.

[2015-09-19 13:32] #11 closed

[2015-09-19 13:33] tbranyen opened #25 "Implement render buffer"
This will be a simple array.  `[current, next]`  At the end of the render loop this array will be shifted.  This will allow for asynchronous transitions, since we'll be able to effectively block the next render until the transition is complete.

[2015-09-19 14:14] tbranyen commented on #15
Punting on this for now.

[2015-09-19 14:14] #15 closed

[2015-09-21 02:41] #25 closed

[2015-10-01 16:19] tbranyen opened #27 "Add stack property to subclassed Error"
https://github.com/tbranyen/diffhtml/blob/master/lib/errors.js

[2015-10-03 03:55] tbranyen commented on #27
All set: https://github.com/tbranyen/diffhtml/blob/master/lib/errors.js#L9

[2015-10-03 03:55] #27 closed

[2015-10-04 22:35] tbranyen commented on #16
For ES6:

[code]

[2015-10-05 04:10] tbranyen commented on #16
For custom registration, do `Object.create(element)` first so that we have the `__proto__` chain set up. Then we can add the callback functions to this instance which is then returned.  Otherwise the browser's implement will kick in.

[2015-10-06 14:26] tbranyen commented on #16
Follow work here: https://github.com/tbranyen/diffhtml/pull/28

[2015-10-07 01:53] tbranyen commented on #14
This has landed in master already, just forgot to close the issue.

[2015-10-07 01:53] #14 closed

[2015-10-09 17:14] tbranyen commented on #16
Closed via #28

[2015-10-09 17:14] #16 closed

[2015-10-09 17:26] tbranyen opened #30 "Add examples"
Moved to PR #52

[2015-10-09 19:54] tbranyen commented on #30
Also the SVG one hurts my eyes, so I'm thinking a nicer looking one with the boxes just bouncing around slightly transparent will be much better.

[2015-10-10 03:42] tbranyen opened #31 "Delay next render cycle until transition state is resolved"
Otherwise any property manipulation during a transition state will cause more `attributeChanged` transition callbacks to occur.

[2015-10-10 21:55] #31 closed

[2015-10-15 16:17] tbranyen opened #32 "Sync issues with Worker"
Currently experiencing some issues with syncing to the Worker, will need to write tests that hit all transformations.

[2015-10-15 16:35] tbranyen opened #33 "Optimize added elements from Worker"
When elements are added from the worker, we include every element even if it's already included as a childNode from a parent.

[2015-10-16 17:16] tbranyen commented on #32
The problem is only exhibited when toggling from Worker to UI. This will never happen in production. The easy fix will be to resync the trees after a switch has occurred.

[2015-11-27 21:03] tbranyen commented on #32
For now I've added a flag to track when rendered via the worker. Whenever the tree's get out of sync, they are recreated.

[2015-11-27 21:03] #32 closed

[2015-12-04 18:21] tbranyen opened #35 "Figure out a good workflow for unit testing with diffhtml"
Look into exposing the patchset somehow to count changes between actual and expected.

[2015-12-26 22:09] jmeas opened #36 "Configure `npm test` to not have git side effects"
I cloned the lib, ran `npm i`, then ran `npm test` to make sure that the tests passed locally. They did, but it also built `dist/diffhtml.js`, which git recognized as a change.

I usually prefer to make it so `npm test` has no side effects, which makes it easier for folks to contribute to the library – they can make changes to the src, run the tests, then PR without needing to undo the change to t

[2015-12-27 01:15] jmeas opened #38 "Updates to gh-pages"
You prob. already know this, but the gh-pages site seems a lil outdated. I can update it if you give me a list of changes. It seems like the entire "About" section is out of date as of #10.

Things that need updating:

- No dependencies on `virtual-dom`, and, in fact, no dependency on anything
- Optional prollyfill, rather than that being the default
- A description of the algorithm currently empl

[2015-12-27 02:52] tbranyen commented on #38
Yup, thanks! I want to create a new site (w/ updated content), but first I gotta undo all the damage I've caused from experimenting.

I'm working in the rewrite-amd branch and adding unit tests for each part of the library. For instance I'm not positive all the transitions are working correctly for all the cases. There are tests in place right now that test part of it, but I wasn't able to get cod

[2015-12-27 03:04] tbranyen commented on #36
Ah okay, so the test command rebuilds the library to include a global `require` method that we hook into to test the library. This is a motivator for switching to AMD/ES5 to avoid this to unit test each part. The alternative here is to build all the tests and run as a single bundle.

[2015-12-27 03:26] jmeas commented on #36
Makes sense.

That's my current strategy, though I only bundle them for the browser version of the tests.

[2015-12-27 04:14] jmeas opened #39 "Linting errorz"
You may already know this, but atm you're [only linting files in the root directory](https://github.com/tbranyen/diffhtml/blob/20b954aa484dd69c8229a224c02e8c46b436617d/package.json#L10) of the project. Linting everything via `**/*.js` yields a number of errors.

I'm working on resolving the easy ones, like semicolon problemz, but there will be other issues that might require some more thought.

I'

[2015-12-27 04:29] tbranyen commented on #39
Yup those were all fixed in the amd rewrite branch as well :)

[2015-12-27 04:31] jmeas commented on #39
Ah, okay, cool. I'll close this issue and look there.

[2015-12-27 04:31] #39 closed

[2015-12-27 04:31] tbranyen commented on #39
I'll start backporting my changes into a PR as well

[2015-12-27 04:32] tbranyen commented on #39
Ya, I would just ignore the linting for now (for w/e you're doing).

[2015-12-27 04:43] jmeas opened #40 "ES2015 updates"
Migrating the conversation from #37

===

tl;dr

@tbranyen was finding it difficult to get some test-related features working with ES2015. Namely, src maps, cvg reports, and browser tests.

I've spent far too much time in the past year thinking about using ES2015 with popular testing libraries. Much of that work exists in a usable form over in this repo: [generator-babel-boilerplate](https://githu

[2015-12-27 05:49] jmeas commented on #40
Note to self for the future:

I attempted to use SimpleJSDom to make the tests pass. All of them did except for the pesky integration tests that modified the HTML or document. I thought "no worries," and configured the tests to pass in-browser. This enabled me to use PhantomJS for CLI testing and coverage. Easy, right?

Not quite – I was instrumenting the **source** files, and – d'uh – those aren'

[2015-12-27 06:09] tbranyen commented on #40
Can we skip that test for now, because it's most likely related to a different test?

[2015-12-27 06:10] tbranyen commented on #40
That test was bad from the start, but it was a stop gap to ensure that my cleanup was working, I wasn't sure how else to test something meant to be 100% internal.

[2015-12-27 06:11] jmeas commented on #40
Fo' sho'. I'll comment it out and keep looking into the JSDom fail.

[2015-12-27 06:22] jmeas commented on #40
Alright, really gonna head to bed, but here's [a branch](https://github.com/jmeas/diffhtml/tree/gulp-stuff) with some progress.

What's working:

- Basic coverage
- Browser tests
- ES2015 can be used in the tests
- Source maps (probably lol, didn't extensively test yet but I use this general setup on all of my libs/apps and I never have problems)

To make it work, 3 tests had to be turned off (the

[2015-12-27 06:28] tbranyen commented on #40
Awesome, thanks so much @jmeas. I'm still working on my updates to the master branch. I'll rebase my stuff with yours once I'm done and test it out.

[2016-01-08 01:34] #35 closed

[2016-01-08 01:34] tbranyen commented on #35
Not really interested in this use case anymore.

[2016-01-08 01:34] tbranyen commented on #33
Removed the need for patch additions/removals.

[2016-01-08 01:34] #33 closed

[2016-01-08 01:37] tbranyen commented on #36
This has been resolved, no longer needs to rebuild the library in order to test.

[2016-01-08 01:37] #36 closed

[2016-01-08 01:40] jmeas commented on #40
Closing; superseded by #42

[2016-01-08 01:40] #40 closed

[2016-01-08 01:41] jmeas commented on #30
I'm down to try my hand at putting together some of these examples. It'd be a cool learning exercise to figure out more about the lib. Think now's a good time to do this, or are there any big refactors coming?

[2016-01-08 04:04] tbranyen opened #43 "[Good First PR] HTML Entities encode/decode that works in Web Worker"
Looking for a super minimal implementation that encode and decode HTML entities from a string. This should work in a Web Worker as well.

[2016-01-08 04:06] tbranyen commented on #30
There will be a lot of refactors, but the API is pretty much locked. We could go to 1.0 as soon as we're happy with the performance and the web worker implementation.

[2016-01-08 04:09] tbranyen commented on #30
Although a site, better documentation, and examples would probably be good to have too :sunglasses:

[2016-01-08 04:14] jmeas commented on #43
I'd def look into existing modules for this. [This one](https://github.com/mdevils/node-html-entities), for instance, seems pretty lightweight and straightforward. A quick skim through the code didn't seem to show anything that wouldn't work in a web worker environment.

It'd suck to have an external dep, but the build system can just bundle it with diffhtml since it's unlikely that the user's app

[2016-01-08 04:17] tbranyen commented on #43
That library is huge for our needs though, for instance: https://github.com/mdevils/node-html-entities/blob/master/lib/html5-entities.js#L1

We need a solution that is a single function, otherwise it's going to be very complex to embed into the Worker source: https://github.com/tbranyen/diffhtml/blob/master/lib/worker/create.js#L37-L82

[2016-01-29 21:29] tbranyen commented on #38
I've since made a brand new site, it's missing some documentation, but we'll add it as we go.

[2016-01-29 21:29] #38 closed

[2016-02-08 20:54] tbranyen commented on #30
We have a site now, available at http://diffhtml.org with a few examples. Unfortunately they aren't very useful. We should turn them into standalone JSFiddle's or similar and embed.

[2016-02-08 21:46] tbranyen opened #46 "Performance problems around memory locking"
In order to avoid accidentally free'ing pooled memory, we lock/protect virtual dom objects. This comes at a cost though since we need to constant check lengths and use `indexOf` which isn't very fast on super large arrays. Since we're dealing with potentially thousands of objects, we need to figure out a more efficient way to handle object pooling and clean up.

[2016-02-10 17:05] tbranyen opened #47 "[Question] Hook to allow for Custom Element rendering"
Currently it's not possible for a Custom Element to render itself and maintain markup through re-renders. That does not mean there is no merit in how they are designed. Currently they are very effective at enforcing progressive over existing markup. Although this makes it difficult to align with existing projects like React, Ember, Backbone, and Angular that allow "Component" instances to maintain

[2016-02-10 21:26] tbranyen commented on #46
Resolved in https://github.com/tbranyen/diffhtml/pull/48

[2016-02-10 21:26] #46 closed

[2016-02-10 21:39] jmeas opened #49 "[Question] Browser support / Sauce Labs?"
I'm curious to know what the target browser support is. I don't see it on the site atm.

Also, could be worthwhile to run the tests in SauceLabs. Whatcha think?

[2016-02-10 21:41] tbranyen commented on #49
I tried this with Combyne, but found that Saucelabs timed out way too much. Wasn't able to figure out how to make Saucelabs run on PRs either.

If we can solve the timeout issue and make it work on PRs, I'd be definitely down.

[2016-02-10 21:42] tbranyen commented on #49
As for browser support, it's true I've skirted around explicitly saying.

[2016-02-10 22:04] tbranyen commented on #49
I'd be willing to help out with this. Just tested on latest Firefox, Safari, IE, and Chrome.

Firefox 44:

- Issues with decoding HTML entities, might be related to innerHTML/innerText/textContent

Safari 9:

- No known issues

Chrome 48:

- Attached callback isn't triggered on custom elements that have already been added to the DOM
  - Need to research the specification and then revise/fix our im

[2016-02-16 16:49] tbranyen commented on #47
An alternative may be to define a custom Symbol that is used internally by diffHTML/Browser. It could be defined on the `Symbol` constructor in prollyfill'd environments, and available from the library as `diff.Symbol.render`.

This would mean shipping a very lightweight Symbol polyfill (like our Custom Elements polyfill).

[2016-02-16 17:13] tbranyen commented on #47
Another solution, although very different from the first two, is to embrace the Shadow DOM. The Shadow DOM will not be affected by Virtual DOM diffs, and components can internally render:

[code]

[2016-02-19 18:30] tbranyen opened #50 "Support `is` attribute"
This attribute allows inheritance in the markup by extending an existing element with a custom element.

[2016-02-24 23:52] tbranyen commented on #50
I have experimental support working, will push up a branch soon.

[2016-02-25 01:50] tbranyen commented on #50
https://github.com/tbranyen/diffhtml/pull/51

Just need to ensure it works with existing elements in the DOM and then I'll merge the above PR.

[2016-02-25 05:31] tbranyen commented on #50
Closed via #51

[2016-02-25 05:31] #50 closed

[2016-02-25 05:49] #30 closed

[2016-02-25 22:45] tbranyen opened #53 "[Pinned] Roadmaps"
The current state of diffHTML is experimental teetering on stable. However, I anticipate some major additions in the future.
### Version 1.0 (Current roadmap):
- More robust testing
  - Including reliability tests, ie: swapping out entire pages with various sites and calculating the accuracy of the changes
    - I've started on this by scraping the Alexa top 500. I will cycle through each and comp

[2016-02-25 23:00] tbranyen commented on #43
This is becoming even more important. While benchmarking, the current method is getting hit way too hard. We need to be either always working with unencoded or encoded values and apply those to the DOM in a uniform way. As of right now I'm not sure, as it is not consistent.

Once we figure this out, the performance should be significantly improved for changing text (pretty much every benchmark).

[2016-02-28 18:40] shama opened #55 "[Question] Usage with template strings"
I've been thinking about the following way to create elements:

[code]

Which won't work because the `element` doesn't have a `parentNode`. So I'm about to try and parse out the outer element and then `diff.innerHTML(element, innerProcessedStuff)` instead. That way I can create elements and insert them later.

But I wanted to get your thoughts on this approach and any advice you might have using w

[2016-02-28 21:34] tbranyen commented on #55
So a big thing here is that you cannot change a specific DOM node to be a different type. I wish you could, because that'd make pooling much easier for me, but that means this will never be possible:

[code]

So you'll always be restricted by that, the fact that it has no `parentNode` is probably some other error being hit or a more generic error message. We should improve the messaging here so th

[2016-02-28 22:23] shama commented on #55
Oh cool, I didn't know about `html-tagged-template`. I'll check that out!

My end goal is native-ish elements that can rerender themselves efficiently: https://github.com/shama/bel#data-down-events-up So they render first, an event occurs below that causes it to rerender using `diffhtml`.

I'm using [hyperscript](https://github.com/dominictarr/hyperscript) to build the initial element from a templ

[2016-02-28 22:23] #55 closed

[2016-03-02 18:05] tbranyen opened #56 "Track Custom Element rewrite changes"
Reference: https://github.com/w3c/webcomponents/pull/405

Since the Custom Element API is still in flux, I've only implemented the API that matches current browsers. I'll be starting on an opt-in to try out the new API. I'm thinking something like `diff.enableExperimental()` which matches `enableProllyfill()` except brings in the new APIs and will change with the leading browser implementation.

[2016-03-05 02:00] tbranyen opened #57 "Spit out validation errors."
Just hit a major issue where parsing got all messed up when I had:

[code]

This is such a common mistake that it'd be great to spit out warnings. While this is inconsistent with `innerHTML/outerHTML`, this is also an experimental API that may help with best practices around well formed markup.

[2016-03-10 22:12] tbranyen opened #58 "Prove integration with ShadowDOM polyfill"
Create example and fix bugs until it works with:

https://github.com/webcomponents/webcomponentsjs/blob/master/src/ShadowDOM/ShadowDOM.js

[2016-03-16 17:08] tbranyen opened #59 "Alternative to Custom Elements"
An alternative to Custom Elements for managing a component, could be to follow the approach taken by: [bel](https://github.com/shama/bel) and [yo-yo](https://github.com/maxogden/yo-yo)

**`list.js`**

[code]

**`index.js`**

[code]

[2016-04-18 02:04] tbranyen commented on #47
I've thought about this more and I think that JSX/React render semantics belong in a ReactElement class that can be extended, they aren't necessary for an MVP implementation.

[2016-04-18 02:04] #47 closed

[2016-04-25 20:11] tbranyen opened #61 "Support key attribute"
### [Reference implementation: https://github.com/tbranyen/diffhtml/pull/62](https://github.com/tbranyen/diffhtml/pull/62)

A problem with the current diffHTML implementation exists when removing items in a list. The patches reconciliation algorithm is naive and fast. It simply checks if the original node length is larger than the new length. That indicates something was removed.

Since knowing wh

[2016-05-14 22:06] tbranyen commented on #59
Tracking work here: https://github.com/tbranyen/diffhtml/pull/60

[2016-05-14 22:06] #59 closed

[2016-05-15 07:09] tbranyen commented on #56
So much has changed since then... it's gotten a rewrite since the last rewrite. It's out of control so I'm going to rip out of this library until it stabilizes.

[2016-05-15 07:09] tbranyen commented on #58
Ripping out custom element support, so this isn't going to be necessary.

[2016-05-15 07:09] #58 closed

[2016-05-15 16:13] jmeas commented on #56
slight preference for:

`enableProllyfill({experimental: true});` if this ever comes to be

[2016-05-16 07:50] tbranyen commented on #61
Added, works great!

[2016-05-16 07:50] #61 closed

[2016-05-16 07:55] tbranyen opened #64 "Allow key to do smart replace/addition"
Detect the order in replace for keys and do a `replaceWith` operation or an addition operation with `insertBefore` or `appendChild`.

[2016-05-18 04:54] tbranyen commented on #43
I removed worker support and the new implementation only runs it when setting text.

[2016-05-18 04:54] #43 closed

[2016-05-19 04:36] jiyinyiyong opened #65 "Can I use virtual tree directly in my program?"

[2016-05-19 04:46] tbranyen commented on #65
Hi @jiyinyiyong can you explain a little more what you're trying to do?

[2016-05-19 05:45] jiyinyiyong commented on #65
I was from React and it was quite fluent to assemble a virtual DOM, while to get HTML string we need one more function like `stringify`. I suppose that `diffhtml` still need to parse may HTML string into a virtual DOM, so if I pass in a virtual DOM will it be faster?

[2016-05-19 06:18] tbranyen commented on #65
Yes it will be. In fact I'm working on a babel transform right now to make it precompile them as well.

[2016-05-19 06:29] tbranyen commented on #65
If you wanted to manually ingest a dynamic tree you can use the following functions to generate them:

[code]

Here's an example of usage:

[code]

[2016-05-19 06:31] tbranyen commented on #65
To use with diffHTML you'd then pass that value like so:

[code]

[code]

[2016-05-19 06:36] tbranyen commented on #65
@jiyinyiyong Here is an example JSFiddle as well: https://jsfiddle.net/tbranyen/xhbnvna3/1/

Hope all this helps!

[2016-05-19 06:37] jiyinyiyong commented on #65
There's even a `onclick` function, that's cool. Thanks.

[2016-05-19 06:41] tbranyen opened #66 "Can we remove UUID since Worker code is removed?"
In the spirit of trimming down as much as possible in here, I think the UUID logic isn't necessary anymore. We retain descriptor objects in memory so a WeakMap would work perfectly to align descriptors with real elements.

[2016-05-19 06:43] tbranyen commented on #64
This should also be smart for additions.

[2016-05-21 17:18] tbranyen commented on #66
This is going to be repurposed to detect if content is "static" or "dynamic". If the UUIDs do not change, then it will not check for any changes and simply iterate down to the children.

[2016-05-21 17:18] tbranyen commented on #56
Closing this out, since I'm going to leave it to the browser vendors to settle on a standard and then we'll revisit.

[2016-05-21 17:18] #56 closed

[2016-05-21 17:29] tbranyen commented on #57
For instance JSX compiler produces this output:

[code]

[2016-05-21 17:32] #66 closed

[2016-05-23 02:41] #65 closed

[2016-05-23 02:44] jiyinyiyong opened #67 "Use ES5 in npm package"
The bundled `dist/diffhtml.js` has some problem using in Webpack:

[code]

Could you release the compiled ES5 to npm please? Adding a `gulpfile.js` and `prepublish` will make it.

[2016-05-23 03:02] tbranyen commented on #67
Where is it invalid? Why would you assume that rebuilding would fix the problem? Can you hop into the Gitter channel and we can talk about this in more detail?

[2016-05-23 03:32] tbranyen commented on #67
Talked in the Gitter channel about this issue and decided the fix for now is to publish the Babel intermediary CJS files to NPM starting with the version 0.8.3.

[2016-05-23 04:33] tbranyen commented on #67
Resolved in 0.8.4! We published the source files necessary under `dist/cjs`.

[2016-05-23 04:41] #67 closed

[2016-05-24 17:42] tbranyen opened #68 "Support HMR"
It should be possible to make the components HMR compatible. I'd image this would be a separate module that could be mixed into any valid ES6 class.

[2016-06-05 22:08] tbranyen opened #71 "Remove UUID"
The UUID concept was introduced as a way to tie descriptor (vTree) objects to DOM nodes. Since Web Workers could produce objects as well I thought UUID would be a good bridge. Since I've removed Web Workers, it's entirely possible to simply utilize the object reference itself as a lookup.

This is an internal concept that if removed will keep the lib backwards compatible.

[2016-06-05 22:55] tbranyen commented on #71
Removed in https://github.com/tbranyen/diffhtml/pull/69/commits/97937f365054e42e8ec4f69e2c5fa5c5115132a8

[2016-06-06 03:25] #71 closed

[2016-06-07 03:18] jiyinyiyong opened #72 "`new Set()` is not supported in old browsers"
We got reports that diffhtml throw errors in some mobile browsers since `Set` is now implemented. I thought it was compiled by Babel?

https://github.com/tbranyen/diffhtml/blob/master/dist/diffhtml.js#L2256
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set#Browser_compatibility

[2016-06-07 04:28] jmeas commented on #72
Are you including [the Babel polyfill](http://babeljs.io/docs/usage/polyfill/)?

[2016-06-07 06:09] tbranyen commented on #72
I would include the polyfill in your app, I consider it a feature that its not transpiled.

[2016-06-07 06:53] jiyinyiyong commented on #72
As usual we use `diffhtml` from npm and our Babel loader will not compiled code inside `node_modules/` folder. And it's "include the polyfill in our **apps**" in [our side](https://github.com/ElemeFE/cooking).

[2016-06-07 16:00] jmeas commented on #72
Ah, gotcha. So you need diffHTML to be transpired before distribution. Makes sense to me.

[2016-06-07 16:02] jiyinyiyong commented on #72
yeah, I want `dist/diffhtml.js` and other code in `dist/` compiled before pushing to npm

[2016-06-07 16:06] tbranyen commented on #72
By compiled, do you mean to ES5? I don't think I should add in a polyfill for Set though, because then I'd need to polyfill Promise, and Map. I might be able to publish a diffhtml.legacy.js file that contains the polyfills if you think that'd help?

[2016-06-07 16:28] jiyinyiyong commented on #72
I think it's more about the CommonJS code we talked about last time. And `diffhtml.legacy.js` looks good to me.

[2016-06-07 16:37] tbranyen commented on #72
Yeah the CommonJS code is published to npm isn't it?

[2016-06-07 16:45] jmeas commented on #72
I don't think that the polyfills should be managed in this repo. corejs has all of those covered pretty thoroughly...it'd be adding extra maintenance to this project for pretty much 0 gain for the consumer, I think. Because most folks transpile code, I would expect most people to already be using the polyfill.

My suggestion would be to:

1. transpile the source through Babel, and distribute those

[2016-06-08 17:16] tbranyen commented on #72
@jmeas

- The main field is currently the built UMD file, which I find to be generally more useful than pointing to CJS transpiled files. Although the CJS files are present in the dist directory during npm publish.

- The source is also included since many will want to use ES6 import/exports.

- We'll have to do a quick audit for what polyfills will be necessary. Off the top of my head I can think

[2016-06-09 22:03] tbranyen commented on #72
Added a note in the README about polyfills here: https://github.com/tbranyen/diffhtml#polyfills

[2016-06-09 22:03] #72 closed

[2016-06-15 00:15] tbranyen opened #77 "Lightweight middleware"
Middleware has several advantages including expanding diffHTML to utilize tooling. I'm going to use nested functions to access more internals and progress further down into the state.

For instance to write a logger that got the start and end time and

[code]

Which then looks like:
![middleware](https://cloud.githubusercontent.com/assets/181635/16064150/8a7b3e6c-3253-11e6-8e0f-5e511ec2b588.png)

[2016-06-15 01:28] tbranyen commented on #77
Implementation here: https://github.com/tbranyen/diffhtml/pull/78

[2016-06-15 05:24] tbranyen commented on #57
Track here: https://github.com/tbranyen/diffhtml/pull/79

[2016-06-21 20:57] svapreddy opened #81 "`enableWorker` option does not seem to do anything"
I am using `enableWorker: true` option as per the documentation. It looks like it is not doing anything. Or Am I using it in wrong way?

This is how I am using now:

`diff.innerHTML(this.element, div.innerHTML, {enableWorker: true})`

Thanks,
Prathap

[2016-06-21 21:24] tbranyen commented on #81
Hey @svapreddy! Sorry the website is out of date, and I'm working on a new one. Please refer to the README for the documentation.

To answer your question, I removed Web Worker support since I wasn't able to get the performance and stability I wanted. Although with the new middleware tier I'm working on, I think I can change that by providing worker support as a middleware.

[2016-06-22 04:16] svapreddy commented on #81
@tbranyen 👍 . And thanks for the great library.

[2016-06-22 05:10] tbranyen commented on #81
Thank you! I have lots of good stuff coming

[2016-06-27 19:12] tbranyen commented on #77
Landed!

[2016-06-27 19:12] #77 closed

[2016-06-27 19:38] #57 closed

[2016-06-27 19:38] tbranyen commented on #49
I've since been added to an open source BrowserStack plan and posted the initial round of browser tests here:

[2016-06-27 19:39] #49 closed

[2016-06-27 19:40] #81 closed

[2016-06-29 22:43] tbranyen commented on #68
So far my thinking is that the middleware will track the DOM Node and a hook to trigger re-rendering. The requirement would be that your hot-module-replacement-enabled modules would require `diffhtml`.

[2016-06-30 17:43] tbranyen opened #84 "Logo help wanted"
Just putting it out there if anyone has logo design experience, I'm trying to do something that speaks open and standards, while also looking nice.

I've been thinking about using **<±/>** as a way to represent a diff and HTML. It's really self describing, but doesn't look all that great on its own. I'd like to see something with more emphasis and intentioned layout.

[2016-06-30 17:53] deathbearbrown commented on #84
Hi I made you a PoC for a mascot.
![screen shot 2016-06-30 at 10 52 57 am](https://cloud.githubusercontent.com/assets/607541/16498461/d60b7838-3eb0-11e6-994d-8cc40c8ce2a2.png)

[2016-06-30 17:56] nickbytes commented on #84
![diffhtml_logo](https://cloud.githubusercontent.com/assets/3009331/16498564/4049bf70-3eb1-11e6-92d8-3e26e4055686.png)

[2016-06-30 17:56] tbranyen commented on #84
@nickbytes that looks awesome, although the lack of the diff symbol is a bit of a sad loss there.

[2016-06-30 17:57] tbranyen commented on #84
@deathbearbrown lmao that is amazing! I love dachshunds too :dog:

[2016-06-30 17:58] nickbytes commented on #84
@tbranyen will work on concepts with diff symbol later today!

[2016-06-30 18:10] nickbytes commented on #84
![diffhtml_logo2](https://cloud.githubusercontent.com/assets/3009331/16499000/3d81b44e-3eb3-11e6-8d74-d977b363f919.png)

[2016-06-30 18:26] nickbytes commented on #84
![diffhtml_logo3](https://cloud.githubusercontent.com/assets/3009331/16499431/56f88202-3eb5-11e6-849e-70a49c9ae473.png)

Person in a canoe. Use of nautical, seafaring terms now in play 🙃

[2016-06-30 18:34] deathbearbrown commented on #84
@nickbytes what if you tried the side by side IDE diff?
One pale grey or red box with `diff` in it and one pale green with `html` in it

[2016-06-30 18:39] nickbytes commented on #84
Same! Let me give this a try!

[2016-06-30 18:43] nickbytes commented on #84
![diffhtml_logo4](https://cloud.githubusercontent.com/assets/3009331/16500079/d7067088-3eb7-11e6-90f2-bcb4394cc825.png)

I do like that @deathbearbrown

[2016-06-30 18:46] quarterto commented on #84
Here's my attempt:

![diffhtml](https://cloud.githubusercontent.com/assets/631757/16500140/3f4b3942-3efb-11e6-9a05-860a42bd7ba9.png)

[2016-06-30 19:08] jmeas commented on #84
I think basing logos on HTML5/CSS3 shields might be overdone / seem uninspired, but I know you were at one point all about this becoming a standard, so I figured it would be worthwhile to see what it would look like:

![image](https://cloud.githubusercontent.com/assets/2322305/16500800/08ed427c-3ebb-11e6-81e8-2532bf8452d8.png)

\shrug

[2016-06-30 19:31] deathbearbrown commented on #84
@jmeas isn't that kind of stealing?

[2016-06-30 19:33] tbranyen commented on #84
I like the idea, but more like how the CSS3 folks did it:

![](http://seeklogo.com/images/C/css3-logo-8724075274-seeklogo.com.gif)

[2016-06-30 19:46] jmeas commented on #84
yes you are 100% right. i regret making that recommendation : [ gonna remove the img from the post

[2016-06-30 23:11] tbranyen commented on #84
@quarterto That looks really interesting! I'm not so sure about the colors, but I love the concept. I might around with them a bit tonight.

[2016-07-01 08:46] quarterto commented on #84
@tbranyen do you want the Sketch file or an SVG? And yeah, I didn't put much thought into the colours, just picked at random from the Material Design palette.

[2016-07-01 14:09] farzd opened #85 "Would it be possible to see some metrics?"
Would it be possible to see some performance metrics, how its better than normal DOM manipulation?

https://developer.mozilla.org/en-US/docs/Web/API/Performance_API

[2016-07-01 15:09] tbranyen commented on #85
Sure thing! I will say its not better than normal DOM manip, since that is what gets used in the end anyways.

[2016-07-01 21:32] tbranyen commented on #84
@quarterto no worries, i love the idea though!

[2016-07-19 22:06] tbranyen opened #87 "Fully support React's createElement"
It would be handy for `diff.createElement` to match React's createElement signature. This would give us the ability to support JSX input.

[2016-07-30 19:26] tbranyen opened #91 "Generate TypeScript bindings from documentation API"
I've created an API documentation generator for diffHTML using NodeGit. This could be used to generate the typings automatically.

Resources:
- http://definitelytyped.org/guides/best-practices.html
- https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/

Thanks @mousetraps!

[2016-08-04 10:13] mderijcke opened #92 "Entities decoding goes haywire for input values"
Hi there,

We had an input like this:

[code]

That should have looked like:

[code]

But ended up looking like:

[code]

DiffHTML seems to (double) encode the ampersands, which it has no business in doing. I fixed it this way:

[code]

But I have a strong feeling this isn't intended behavior. Maybe something to look into?

[2016-08-04 22:34] tbranyen commented on #92
Absolutely, this is not good business. I'll fix it up and let you know once a new patch release is out.

[2016-08-04 22:50] tbranyen commented on #92
@mderijcke can you test #93 and let me know if it fixes your issue? You can test by using npm to install that commit. if you aren't sure how:

[code]

[2016-08-05 03:39] tbranyen commented on #92
Fixed and published in [0.9.2](https://github.com/tbranyen/diffhtml/releases/tag/0.9.2)

[2016-08-05 03:42] #92 closed

[2016-08-20 03:30] robdodson opened #94 "tagged template needs `diff` in front of it"
I could be holding diffhtml wrong, so apologies in advance if this is just user error :)

I'm including diffhtml as a script tag in my page

`<script src="node_modules/diffhtml/dist/diffhtml.js"></script>`

To use the [tagged template](https://github.com/tbranyen/diffhtml#html) I need to access the method on the `diff` object itself.

[code]

instead of

[code]

Otherwise I get a reference error t

[2016-08-20 16:34] tbranyen commented on #94
Hey @robdodson glad to see you're checking out diffHTML! It's nearly at 1.0 and I've been busy working on the last PR #86 (taking forever since I'm attempting some optimizations)... and the website: https://diffhtml.org/. I'd use the website docs for now: https://diffhtml.org/#html over the README since it's going to be emptied and deprecated in favor of the site once I tag 1.0.

[2016-08-20 16:58] tbranyen commented on #94
I'll leave this open until I ship 1.0 though.

[2016-08-22 17:07] robdodson commented on #94
I see thanks Tim! Really enjoying diffhtml. One question I had... What do
you think would be the best way to handle children inside a Custom Element.
I was thinking of calling a function from my template string that returns
the contents of this.children

On Aug 20, 2016 9:58 AM, "Tim Branyen" <notifications@github.com> wrote:

[2016-08-22 17:53] tbranyen commented on #94
Can you give me an example? Are you thinking for something that accepts arbitrary children, like Angular's transclusion? Or are these static nested components?

[2016-08-22 19:08] robdodson commented on #94
Accepting arbitrary children.

e.g.:

[code]

I'd want to make sure that the image tag doesn't get replaced by the template `x-gallery` stamps out for itself. Instead I'm imagining something like:

[code]

where `expand` is just a function that returns the children as an HTML string

[2016-08-22 19:54] tbranyen commented on #94
Oh! You should be able to nest DOM nodes arbitrarily (not documented), like this:

[code]

or

[code]

[2016-08-22 20:16] robdodson commented on #94
nice! ok I'll give that a shot. I'd like to submit a PR to add it to the docs, where would be the best place to do so?

[2016-08-22 20:58] tbranyen commented on #94
Good question, still trying to decide if nested values (like DOM Nodes or plain text) should be automatically converted to Virtual Trees, or if that should just be a known restriction requiring you to convert via `diff.createElement` first. For now its ambiguous since it's not formally documented.

I haven't written much about tagged template functions: https://diffhtml.org/#tagged-templates, but

[2016-08-27 18:14] tbranyen commented on #94
So Wednesday came and went, got wrapped up in work stuff. I've just opened up the diffhtml-website repo: https://github.com/tbranyen/diffhtml-website and I'll be working on the documentation today.

[2016-08-27 20:29] robdodson commented on #94
Great, thanks for keeping me in the loop :)

I noticed the diffhtml-dox dependency is missing from the install on the site. Is that something you still need to publish?

[2016-08-27 20:50] tbranyen commented on #94
My mistake, here it is: https://github.com/tbranyen/diffhtml-dox

[2016-08-30 00:06] jmas opened #95 "What about updating events that attached to new HTML structure?"
I tried to rewrite one pice of my application to using `diffhtml.element(rootEl, newEl)` and result is awesome. It do what I looking for... Except one major thing: diffhtml do not update early attached DOM events.

For example after first call `diffhtml.element(rootEl, newEl)` I get a list of records with attached events. Each attached event handler contain information of current record. If I clic

[2016-08-30 00:18] tbranyen commented on #95
Hey @jmas glad to hear diffHTML sort of worked for you :-p. I'm a bit confused as to what you're saying/asking for diffHTML to do differently. I'm not sure what an early attached DOM event is. diffHTML won't diff any DOM events, unless they are DOM attributes.

[2016-08-30 00:26] tbranyen commented on #95
For instance these events are diffable:

[code]

This however is not diffable:

[code]

The primary reason for this is that I'm pretty sure it's impossible to get events from a DOM node. If you can figure out a way, let us know!

[2016-08-30 00:27] tbranyen commented on #95
Btw, I wouldn't anticipate this being a feature added into the core library. I would definitely explore wiring this up as middleware tho.

[2016-08-30 00:35] jmas commented on #95
Thanks @tbranyen for quick response. Yep... I got what you mean. So event listeners that was added by for example `addEventListener` is do not sync.

But I add an event by `element.onclick = function() { ... }` notation. Here is quick example that I have:

[code]

[2016-08-30 00:37] tbranyen commented on #95
Right that's a property not an attribute. So, I could see middleware to handle DOM property synchronization, but that seems tricky to get right. Maybe we can start with just events tho? Basically the question is how do you separate DOM properties not meant to be sync'd from custom properties attached by you, the user?

[2016-08-30 00:38] tbranyen commented on #95
Also a hardcoded list of events will surely be out-of-date when something new comes out, and I'd hate to manually track that. Maybe we can extract the list by keying off of `on` in a feature test?

[2016-08-30 00:42] tbranyen commented on #95
I found this:

http://stackoverflow.com/questions/9368538/getting-an-array-of-all-dom-events-possible

[code]

["onreadystatechange", "onpointerlockchange", "onpointerlockerror", "onbeforecopy", "onbeforecut", "onbeforepaste", "oncopy", "oncut", "onpaste", "onsearch", "onselectionchange", "onselectstart", "onwheel", "onwebkitfullscreenchange", "onwebkitfullscreenerror", "onabort", "onblur", "oncan

[2016-08-30 00:48] jmas commented on #95
@tbranyen Yep... And you can just do re-attaching all of that attributes that `!null`.

[2016-08-30 00:51] tbranyen commented on #95
So maybe what we could do is write a [middleware](https://diffhtml.org/#middleware) like this:

[code]

Can you give that a shot and see if it works?

[2016-08-30 01:14] jmas commented on #95
@tbranyen Very wired. I did some modifications:
[code]

But currently when I click button it alert twice: `Submit: 1` and `Submit 2`. I always think that `element.oclick` or similar just rewrite previous handler, not attach another one.

[2016-08-30 01:34] tbranyen commented on #95
Well yeah you wrote in code in your if statement to block removing. ;-) Remove your if statement and all will be well.

[2016-08-30 01:42] jmas commented on #95
@tbranyen I get where was a problem. When I add option `{ inner: true }` to avoid lost root element - it pass root element to `node`, so `obsubmit` event was attached twice to `form` and to root container.
So middleware is potentially works. The final code:
[code]

But it works only for root elements. I need to make it worked for all elements. It is very basic example. There is more complex:
[code

[2016-08-30 01:52] tbranyen commented on #95
True, true. I do think you'll want some kind of event delegation here. Alternatively you'll need to recursively crawl the `children` of each element to ensure you properly account for all the events.

[2016-08-30 01:58] jmas commented on #95
Yes. And it is not to easy compare two DOM trees. I need to walk around first tree and compare elements with another tree. Maybe this task is more convenient to do when diffhtml compare two dom trees?

[2016-08-30 12:39] jmas opened #97 "innerHTML() function do not applying checkbox checked state"
Hello. I trying to reinvent ToDo app. But have issue with `<input type="checkbox" />` element.

[code]

Here is link where you can see full code listing: https://github.com/jmas/htmldiff-todo/blob/master/src/ui.js#L23

This line is working correctly:
`${task.name} (${task.done ? 'Done': 'Not Done'})`.

But there is a problem:
`<input type="checkbox" onclick="${onTaskChange}" value=${index} ${task.

[2016-08-30 16:00] tbranyen commented on #97
Hrm, @jmas what about this: https://github.com/tbranyen/todomvc/blob/gh-pages/lib/components/todo-list.js#L13

This appears to work fine, I wonder why you were hitting an issue. I noticed your PR, and I'll try and write a unit test to complement it when I get into the office.

[2016-08-30 16:03] jmas commented on #97
@tbranyen Thanks!

[2016-08-30 21:54] kltan opened #99 "Enhance the build"
I am thinking that the `/dist` folder should be added to `.gitignore` to reduce the diff noise and `/lib` is added to `.npmignore`. During `prepublish` we add the build script so that it's published to npm.

[code]

[2016-08-30 21:56] kltan commented on #99
@tbranyen If proposal is accepted I can open up a PR.

[2016-08-30 21:57] tbranyen commented on #99
@kltan I've used the approach you're describing in quite a few of my other open source projects. The reason why I've stopped doing this for diffHTML and others, is that there is just too much utility in being able to point to a SHA and be able to test immediately.

I have a `.gitattributes` file added that will silence any `dist` files from showing up in local diffs, I really wish @github would su

[2016-08-30 22:04] kltan commented on #99
@tbranyen Ah, makes sense, although it's still a pain in GitHub.

[2016-08-30 22:05] tbranyen commented on #99
I totally agree, I really wish it could be nicer. My suggestion would be not to commit the dist files until you're ready to merge/test (if you want better looking diffs).

[2016-08-30 22:05] tbranyen commented on #99
Lets keep this open for now though, I'd be interested in hearing if others feel the same way.

[2016-08-30 22:06] kltan commented on #99
If ready means bumping the version, the build script probably can be run in `preversion`.

[2016-08-30 23:51] jmas opened #101 "How about benchmark?"
Hello. I guess developers want to know a real benchmark numbers when they take DiffHTML.
We need to write some benchmarks and show cases where DiffHTML is good and bad.

For example, I wrote simple benchmark here (I compare DiffHTML with browser innerHTML and with morphdom): https://gist.github.com/jmas/c7c11f1431bf97f0333d6da639b0c0cd

Maybe someone can add other DOM patch libraries to this bench

[2016-08-30 23:56] tbranyen commented on #101
Hey @jmas mind adding this as a comment to: https://github.com/tbranyen/diffhtml/issues/85 and closing this (its sort of a dupe).

[2016-08-31 02:51] tbranyen commented on #97
https://github.com/tbranyen/diffhtml/pull/102 << check out the two `it.only` tests here

[2016-08-31 08:24] jmas commented on #85
Hello. I guess developers want to know a real benchmark numbers when they take DiffHTML.
We need to write some benchmarks and show cases where DiffHTML is good and bad.

For example, I wrote simple benchmark here (I compare DiffHTML with browser innerHTML and with morphdom): https://gist.github.com/jmas/c7c11f1431bf97f0333d6da639b0c0cd

Maybe someone can add other DOM patch libraries to this bench

[2016-08-31 08:24] #101 closed

[2016-09-01 22:21] jmas opened #103 "3rd party plugins"
**Problem**
We know how React components is working - and there we have places (`componentDidMount()`, `componentWillUnmount()`) where we can link 3rd party plugins (ex. jQuery plugins). But in diffhtml I do not see a quick approach how to detect element mounting or unmounting.

**Possible solution**
Pass to `createElement()` callbacks like `onMount`, `onUnmount` as options. So in those callbacks

[2016-09-01 22:49] tbranyen commented on #103
You could use: https://github.com/tbranyen/diffhtml-inline-transitions and pass callbacks to `attached` and `detached`.

[2016-09-01 23:03] #103 closed

[2016-09-02 20:36] jmas commented on #97
@tbranyen I found where was a problem.
It all about how browser process events on buttons `checkbox`, `radio`.
When we doing `event.preventDefault()` browser is prevent checking this element **in current processing loop**. So when I click checkbox the I prevent default browser behavior > change value in store > and I think that checkbox should be checked by value from store, but in doesn't do it.

[2016-09-02 20:36] #97 closed

[2016-09-02 20:46] jmas commented on #95
So I figure out how is diffhtml event system is working and how to work with it to avoid attaching duplicate events. Now I doing it in following way:
[code]
Thanks for helping.

[2016-09-02 20:46] #95 closed

[2016-09-02 21:26] tbranyen commented on #97
Awesome, glad you were able to figure it out!

[2016-09-05 18:46] tbranyen opened #106 "Rewriting sync and patch"
I think diffHTML is pretty rad right now and the API is solid, but there's some imperfect logic and stability that needs correcting before 1.0. While closing in on #64 I was hitting lots of issues and code duplication with insufficient tests to safely refactor all the code with complete confidence.

So before tagging 1.0, I'll be putting my focus into rewriting both the tree synchronization (diff)

[2016-09-06 06:58] tbranyen commented on #64
Added in #107

[2016-09-06 06:58] #64 closed

[2016-09-06 07:05] tbranyen commented on #106
Closed by #107

[2016-09-06 07:05] #106 closed

[2016-10-16 09:22] quarterto opened #109 "First interpolation of multiple in an attribute value is replaced with __DIFFHTML__"
e.g.:

[code]

[2016-10-16 15:07] tbranyen commented on #109
Woah that's certainly not good, I'll have a patch out shortly. Thanks for filing!

[2016-10-16 15:52] tbranyen commented on #109
Hey @quarterto can you give this build a try: https://github.com/tbranyen/diffhtml/pull/110?

[2016-10-16 15:54] tbranyen commented on #109
I realized the `isProp` regular expression wasn't running on the entire output, so only the first item would get "detected" as a prop. I've since fixed this with a smarter regex and running on the entire output instead of just the string preceding the interpolation.

Basically before it was testing: ` ` instead of `<span class="foo `

[2016-10-18 05:30] #109 closed

[2016-11-01 19:45] tbranyen opened #111 "Interop w/ React"
Some ideas around React and diffHTML:

[code]

[code]

[2016-12-13 22:05] mousetraps commented on #91
Nice!! Any chance you could share a link to the generator? I'm sure @DanielRosenwasser would be interested!

[2017-01-07 22:17] tbranyen commented on #87
This is implemented in #112

[2017-01-07 22:17] #87 closed

[2017-01-10 07:44] zewa666 commented on #95
@jmas could you elaborate a bit more on your solution? Maybe create a small fiddle? I'd be interested in seeing what you've done there

[2017-02-02 03:04] tbranyen opened #113 "Change error message"
Follow Chrome:

`Uncaught DOMException: Failed to set the 'outerHTML' property on 'Element': This element has no parent node.`

[2017-02-03 02:21] tbranyen opened #114 "Make it easier to connect to dev tools"
Idea: Make the dev tools injector expose a global function containing the middleware necessary to connect to diffHTML. Use this function internally to diffHTML so all one would have to do is install the dev tools and be using diffHTML, zero configuration!

[2017-02-05 03:24] tbranyen opened #115 "Use WeakMap for tagged template / parser values"
Currently diffHTML goes in order and plucks from element, attributes, etc. This sucks when using HTML comments, because the template values still come through, but the parser ignores comment contents, throwing off the interpolation.

Instead diffHTML should be generating an internal WeakMap that creates `__DIFFHTML_${++i}__` token and associates the value. Then once the parser reassembles the Virt

[2017-02-12 18:59] tbranyen commented on #115
I didn't end up needing a weakmap, just converted the supplemental arrays to objects and reference by an incremental counter, been working great!

[2017-02-12 18:59] #115 closed

[2017-02-12 19:00] tbranyen commented on #99
I'm going to keep as-is for now, it's been more convenient for me developing and the current `.npmignore` and `cjs` build scripts make a pretty flexible distribution.

[2017-02-12 19:00] #99 closed

[2017-02-18 00:17] tbranyen opened #116 "Duplicate keys should error"
Since we use `Set` we really need to be careful that duplicate keys are called out and warned. Otherwise unexpected behavior is gonna happen.

[2017-02-18 06:29] tbranyen opened #117 "How to phase out SVG util"
https://github.com/tbranyen/diffhtml/blob/master/lib/util/svg.js

This util contributes to an entire KB being added to a bundle that cannot be easily minified

[2017-02-24 05:52] tbranyen commented on #111
Better ideas are forthcoming.

[2017-02-24 05:52] #111 closed

[2017-02-24 06:43] tbranyen opened #118 "Migrate remaining projects to mono repo"
- [x] ~~DevTools~~
- [x] Components
- [x] Inline Transitions
- [x] Synthetic Events
- [x] React Compat
- [x] Website
- [x] Documentation Generator (Dox)
- [x] Babel transform
- [x] Prollyfill

[2017-02-24 20:37] tbranyen opened #119 "Better naming structure for sub-packages"
It's hard to determine from looking at the packages what they are. For instance what is `diffhtml-logger` and what is `diffhtml-components`?

What about the following naming scheme:

- **Middleware**
  - `/packages/diffhtml-middleware-logger`
  - `/packages/diffhtml-middleware-verify-state`
- **Components** `/packages/diffhtml-stateful-components`
- **Babel** `/packages/babel-plugin-transform-diff

[2017-02-24 20:42] mAAdhaTTah commented on #119
What is "diffhtml-stateful-components"? Are there other packages that would be "components"?

[2017-02-24 21:41] tbranyen commented on #119
@mAAdhaTTah The package name can't be a complete definition :stuck_out_tongue:, but I think adding `stateful` helps separate it from other kinds of components like stateless. The actual package exposes:

- `Component`
- `WebComponent`
- `PropTypes`

I'm still debating if it should also re-export diffhtml properties to make imports more succinct. Like:

[code]

Not sure what to name it really. It's

[2017-02-24 22:10] mAAdhaTTah commented on #119
lol I just thought

suggested there would be other packages in the category "Components".

FWIW, Inferno has its ES6 class-based components in a separate package they just call `inferno-component`, so it's not that odd.

[2017-02-25 04:37] tbranyen commented on #85
Here are the latest metrics from the preact-perf repository using the latest version of diffHTML and I also updated choo which was unfairly getting poor perf scores.
![choo](https://cloud.githubusercontent.com/assets/181635/23328211/0fa5c422-fad1-11e6-975c-6c214be333a7.png)

[2017-02-25 04:37] #85 closed

[2017-02-26 00:52] tbranyen commented on #119
Sounds good to me, I've renamed the middleware (will also help with consistent versioning since I've already published 1.0s for some of the existing middleware).

[2017-02-26 00:52] #119 closed

[2017-02-27 07:23] tbranyen commented on #118
I'm going to wait on merging devtools until it's more stable. Until then, this repo is looking good!

[2017-02-27 07:24] #118 closed

[2017-03-08 18:05] tbranyen commented on #114
Resolved in #121

[2017-03-08 18:05] #114 closed

[2017-03-12 17:21] mAAdhaTTah opened #122 "Expose tree creation to middleware"
Is it possible to modify the order of the transaction tasks in the middleware? It appears I have access to the array of [tasks on the provided transaction](https://github.com/tbranyen/diffhtml/blob/master/packages/diffhtml/lib/transaction.js#L94), but I'm wondering you think that's bad practice for diffhtml middleware, depending too much on implementation details of the library.

What I'd like to

[2017-03-13 02:11] tbranyen commented on #122
Since you're modifying the tree, I'd simply add it to run after `reconcileTrees`. You can see how I inject here: https://github.com/tbranyen/diffhtml/blob/master/packages/diffhtml-components/lib/implementations/react-like.js#L62-L71

Basically, check if `reconcileTrees` task exists, and if it does, run after it so that you modify the trees immediately after diffHTML and other middleware have compl

[2017-03-13 17:18] mAAdhaTTah commented on #122
Unrelated, but is there any way to customize the attribute(s) used for the "key" to determine whether a node is the same between renders?

[2017-03-13 18:01] tbranyen commented on #122
Currently only `key` and `script#src` are valid keys, ref: https://github.com/tbranyen/diffhtml/blob/master/packages/diffhtml/lib/tree/create.js#L145-L148

Although I'm starting to think we need a way to hook into `createTree` calls w/ the middleware. This would solve your use case by inspecting attributes and setting `key` if the right attribute is passed. This would also help the `diffhtml-compo

[2017-03-13 18:06] mAAdhaTTah commented on #122
Yeah... that also sounds like it would make the blackboxing easier as well, as I wouldn't have to modify the tree after it's been created.

[2017-03-13 20:15] mAAdhaTTah commented on #122
I've updated the title to reflect this.

[2017-03-13 20:18] mAAdhaTTah commented on #122
Could solve #117 by enabling SVG support as a middleware.

[2017-03-13 20:23] tbranyen commented on #122
That's a very good idea! Could work like this:

[code]

[2017-03-13 21:29] tbranyen commented on #122
@mAAdhaTTah I'm thinking something like this added to the [1.0 Middleware Spec](https://gist.github.com/tbranyen/8ac84e3afd80b33188bbdf184a187175)

[code]

[2017-03-14 11:46] mAAdhaTTah commented on #122
I dig it so far, and how did I miss that document? Really helpful. Couple questions:

1. Are the different node types documented yet? Or can we get an enum of them (self-documenting)?
2. When is this called? If I'm understanding the flow through the rendering process, both the real DOM & (maybe) a string are converted to VDOM, two VDOMs are diffed, patches are generated, and they're applied to the

[2017-03-14 16:18] tbranyen commented on #122
@mAAdhaTTah made a PR here with some naive ideas: https://github.com/tbranyen/diffhtml/pull/123

Some thoughts:

- You're right, there isn't enough context to make this universally useful (we need to fix that before landing)
- Should we add hooks for the `syncTree` stage as well? This could receive both `oldTree` and `newTree` and the return value could replace the `newTree`. I think this might wo

[2017-03-16 01:20] mAAdhaTTah commented on #122
`syncTree` middleware sounds good too. Can we get access to the actual `domNode` in the callback as well? Are `oldTree` or `newTree` the same instances across calls, e.g. can you cache against them (since that's a pattern I would reuse)?

[2017-03-16 03:49] tbranyen commented on #122
Good question, if keys are used we could theoretically do that. Which DOM node are you looking for?

[2017-03-16 12:33] mAAdhaTTah commented on #122
The DOM node being patched. If I'm following the flow correct, the `syncTree` step is where we generate the list of patches, right? Maybe we should provide a hook after that step is finished with the `oldTree`, `newTree`, `patches`, and `domNode`?

[2017-03-16 16:23] tbranyen commented on #122
If we pass the transaction object it'll contain all that info. `(transaction, oldTree, newTree)`, think that'd work.

[2017-03-16 17:59] mAAdhaTTah commented on #122
Yeah, although perhaps you wouldn't need a hook then; you could just inject a task that runs after the `syncTrees` task.

[2017-03-17 17:17] tbranyen commented on #122
Very true, you could definitely do that and then just pull it off of the transaction object. So I've implemented the `syncTreeHook` which gets us closer to what you want. The problem currently is that the sync code is pretty complex so there isn't a clear "there is where the hook will have maximum impact" location. The other problem is that I'm not passing along enough information to do `key` base

[2017-03-17 18:55] mAAdhaTTah commented on #122
Cool, happy to spitball ideas if you want.

[2017-03-18 23:05] mAAdhaTTah commented on #122
I know this is kind of hacky, but its possible to get access to the transaction object:

[code]

[2017-03-18 23:59] tbranyen commented on #122
Nice! Glad you were able to get something going. And yeah, while it's hacky now. Hopefully you're writing this in such a way that it looks like:

[code]

And once we clean up the underlying middleware APIs you'll be able to easily clean up your middleware without breaking consumer-land code.

[2017-03-19 00:53] mAAdhaTTah commented on #122
Yup, [this the middleware](https://github.com/valtech-nyc/brookjs/blob/6be98a2a31f5994669742064baa6d5563ded6ada/src/render/middleware.js). I have it `npm link`'d on my machine to work on it.

[2017-04-20 22:30] tbranyen commented on #122
Added in #123

[2017-04-20 22:30] #122 closed

[2017-05-01 15:05] mAAdhaTTah opened #127 "Add `createNode` to Transaction#internals"
For my purposes, I needed to reimplement the `patchNode` function, and the Transaction object currently provides all of the internals needed to do so, rather than importing them from `diffHTML` from a non-public path. `createNode` is the only internal function that isn't accessible this way, so I'm currently pulling it in from `diffhtml/lib/node`, which I'd rather avoid. Can that be provided on th

[2017-05-01 15:16] tbranyen commented on #127
@mAAdhaTTah I agree that digging into the module structure is probably not ideal. What we could think about doing is deprecating the `internals` concept in core and instead maintain a package that digs into the module structure and exposes the internals safely since we can maintain compatibility safely with the wrapper.

Could look like:

[code]

Thoughts?

[2017-05-01 15:17] tbranyen commented on #127
I'm okay with adding `createNode` to the `internals` object, but I don't think it should be directly attached to the transaction object.

[2017-05-01 15:25] mAAdhaTTah commented on #127
There is an `internals` object already attached to the Transaction object, which is why I thought that was an acceptable location. Whatever mechanism you think is most maintainable from your end works for me; just looking for a "blessed" way of accessing some of those internals, especially because once the module is published, you can easily run into weird bugs if you import the main entry from th

[2017-05-01 15:29] tbranyen commented on #127
@mAAdhaTTah we're talking about the same thing when we say `internals` object. I'm okay with putting it there. Feel free to PR that, I might have time during lunch today to do it otherwise.

[2017-05-01 15:40] mAAdhaTTah commented on #127
Ah ok. Looking at the code now, it looks like the `internals` object is just a namespace import of the `util` folder. Should we re-export from that module's `index.js`? And how should it be re-exported? `export * as Node from '../node';` or each function individually? And should we re-export the `Tree` namespace in this way?

And not to go too far down the rabbit hole, but feasibly, the built-in t

[2017-05-01 15:41] tbranyen commented on #127
I'd like to mess with the idea of a separate `internals` package before we jump too fair down the rabbit hole. Ideally the internal tasks will use the same exact API as a consumer would to dogfood the concept :-p

[2017-05-01 15:53] mAAdhaTTah commented on #127
Ok, I'm happy to handle a PR if you set the direction. Let me know what you'd prefer.

[2017-05-02 16:28] tbranyen commented on #94
Documented in the README now in two places. Safe to close out I feel:

- Intro: https://github.com/tbranyen/diffhtml/tree/master/packages/diffhtml#tagged-template-literals

- More info: https://github.com/tbranyen/diffhtml/tree/master/packages/diffhtml#html

[2017-05-02 16:28] #94 closed

[2017-05-02 16:29] tbranyen commented on #53
Closing this out since I'm pretty close to completely the remaining items and I don't think I'm going to be working on Hot Module Replacement or Web Worker support anytime soon. A hypothetical community should be able to pick this work in the future.

[2017-05-02 16:29] #53 closed

[2017-05-17 03:19] tbranyen commented on #127
I'm experimenting with a `diffhtml-shared-internals` module that exposes the internals from diffHTML in a safe way. The reason why I'm moving slow on this, is that I'd like to try and suss out enough of the API to avoid needing any kind of rewrites later on. I don't have it figured out yet, it's going to take time. I'm focusing on the React Like Component implementation and I want to have that pol

[2017-05-17 14:17] mAAdhaTTah commented on #127
Cool looking forward to it.

[2017-05-29 19:45] mAAdhaTTah commented on #127
Resolved by #129.

[2017-05-29 19:45] #127 closed

[2017-05-30 18:51] tbranyen opened #134 "Web Components Middleware Runtime error"
[code]

[2017-05-30 18:54] tbranyen commented on #134
Also hitting:

[code]

Seems that the UMD build needs a bit of work with the new `shared-internals` module.

[2017-05-30 19:30] tbranyen opened #135 "Render to String should pass props to render()"
Render to String should pass props to render() right now this causes inconsistency errors.

[2017-05-30 19:51] tbranyen commented on #134
Also hitting issues where you need to use `.default` when accessing `module.exports` in the cjs builds:

[code]

Maybe we should add the `add-module-exports` to all the CJS builds

[2017-05-31 00:06] mAAdhaTTah commented on #134
Does the / do the umd builds usually include all of the module's dependencies?

[2017-05-31 00:24] tbranyen commented on #134
Yeah, I'd expect everything to be bundled into the UMD build. If you need to get fancier you'd move to CJS/ESM imo.

[2017-06-07 17:57] tbranyen commented on #135
Fixed in 1.0.0-beta.2

[2017-06-07 17:57] #135 closed

[2017-06-07 18:10] tbranyen commented on #134
This appears fixed as well in 1.0.0-beta.2

[2017-06-07 18:10] #134 closed

[2017-06-07 18:10] tbranyen opened #137 "process.cwd is not a function"
[code]

Somehow we're messing up the global `process` object in Node environments.

[2017-06-07 18:28] tbranyen commented on #137
Fixed in: https://github.com/tbranyen/diffhtml/pull/138

[2017-06-07 18:28] #137 closed

[2017-06-07 21:19] #117 closed

[2017-06-07 21:25] tbranyen commented on #113
Thinking more about this, we don't have this limitation. Closing out.

[2017-06-07 21:25] #113 closed

[2017-06-10 00:53] f opened #142 "https://diffhtml.org/ is down"
https://diffhtml.org/ seems down.

[2017-06-10 01:21] tbranyen commented on #142
Yeah, Node got globally updated which broke a dependency. I'll work on getting it back up!

[2017-06-10 05:08] tbranyen commented on #142
Back up! Thanks.

[2017-06-10 05:08] #142 closed

[2017-07-12 15:50] tbranyen opened #147 "React Compat should export the entire diffHTML API"
Tried to use `React.use` but it was not available.

[2017-07-16 19:59] tbranyen commented on #147
Added in 058db31405d2408d676bf9261ddcd68584bf79ef

[2017-07-16 19:59] #147 closed

[2017-07-23 04:43] tbranyen commented on #84
Now that I'm at Netflix I have more resources available and found an internal designer who is working with me on creating a logo. Thanks to everyone who submitted a design here!

[2017-07-23 04:43] #84 closed

[2017-07-23 06:22] #116 closed

[2017-08-11 07:58] JSteunou opened #152 "How to prevent node update"
Hi, great work over there, I very like what you are doing!

I just had one question: say I have a view's template with one element handled by another library than diffhtml and I dont want it to be patched / updated. What would be the best way to prevent that?

[2017-08-11 14:36] JSteunou commented on #152
If this can help you, I know than nanomorph uses `isSameNode` el property

[2017-08-11 14:45] mAAdhaTTah commented on #152
I did something like this in the framework I'm building on top of diffhtml. [Here's how I did it.](https://github.com/valtech-nyc/brookjs/blob/2eaccb5e81b09616133133665f350c31037da428/src/render/middleware.js#L37-L40)

[2017-08-11 17:19] tbranyen commented on #152
Yup, that's pretty much how I'd recommend doing it as well. Pretend the new node is the same as the old node. That way you don't even need to worry about `isSameNode` or needless additional syncing.

[2017-08-11 17:32] tbranyen commented on #152
Here is a reduced solution (based off @mAAdhaTTah's code): https://glitch.com/edit/#!/diffhtml-prevent-node-update?path=prevent-update.js:9:21

I'm basing this off the `class` attribute, but you could theoretically use any attribute to figure out what to block.

[2017-08-13 13:36] #152 closed

[2017-08-13 13:37] mAAdhaTTah commented on #152
This is definitely doable with the current implementation. Minor bug (#153) may not impact your actual use case but will be resolved in the next release. Let us know if you have other issues.

[2017-08-13 16:55] JSteunou commented on #152
Nice solutions guys ! The middleware system is great.

[2017-08-14 16:48] tbranyen opened #155 "Removing render optimizations from core"
I'm considering (and have already implemented) removing render skipping from
the core flow. Currently if diffHTML is rendering and another render is
scheduled it may be dropped. This has negative consequences for things like
Web Components which may have elements randomly schedule renders as children
are added to the DOM.

Consider the synchronous flow:

[code]

This will render each operation syn

[2017-08-14 17:00] tbranyen commented on #155
I think we could implement a better batching algorithm with middleware.

[2017-08-14 18:46] mAAdhaTTah commented on #155
Yeah, this is something I haven't spent a lot of time working on/thinking about yet. My implementation on top of diffhtml has the previous animations being cancelled when a new render is scheduled, but that's probably not going to work, as an attached animation would get cancelled on the way in, but provide no way to continue the animation on the next render. I haven't done a lot yet with animatio

[2017-08-15 01:57] tbranyen opened #156 "ReleaseHook for middleware"
A new middleware hook for when `vTree`s get released from calling `release`. I need a way to ensure consistent cleanup in the components testing repo.

It would work like the following:

[code]

[2017-08-15 13:57] mAAdhaTTah commented on #156
This is something mostly used by tests? Seems straightforward enough. 👍

[2017-08-15 15:02] tbranyen commented on #156
Yup! Basically I maintain caches in the diffhtml-components implementation that are separate from the core caches. I want to assert these are properly emptied on a per test basis.

[2017-08-23 01:17] tbranyen opened #157 "Ensure Web Components implementation passes Custom Elements Everywhere"
https://github.com/webcomponents/custom-elements-everywhere

[2017-08-30 15:59] tbranyen opened #158 "Parser should handle passing objects as attributes"
JSX has:

[code]

Our parser should handle:

[code]

[2017-08-31 22:36] tbranyen commented on #155
Gonna close this out. I much prefer this new set up, and I think it will make for fewer surprises once we launch.

[2017-08-31 22:36] #155 closed

[2017-09-19 20:19] tbranyen commented on #158
Added in 8178be2

[2017-09-19 20:19] #158 closed

[2017-09-19 20:22] #156 closed

[2017-09-28 17:37] tbranyen opened #160 "Get HoC working again (with new implementation)"

[2017-09-28 17:37] tbranyen opened #161 "Get context working again (this time pass down to the constructors)"

[2017-10-08 03:32] obedm503 opened #164 "diffhtml-components outside api"
when someone from the outside wants to update a prop on the WebComponent instance, should they set the property or set the property on the prop object? does such property being updated cause a rerender or is that just with changed attributes?

[2017-10-08 03:48] tbranyen commented on #164
Actually working on updating this right now! For Web Components, simply setting them as attributes will set them on the instance (as a property), remove & set an attribute (to trigger `attributeChangedCallback`), and then the component can look at the property to get updated properly.

Note: this will only work with `import { WebComponent } from diffhtml-components`.

[2017-10-08 03:53] tbranyen commented on #164
Ah wait, are you asking if you build a component using `WebComponent` and want to use it outside how do you update it? I think you'd need to set the property and then wire up a getter to set the attribute to trigger an update.

[2017-10-08 03:54] tbranyen commented on #164
Or maybe call `this.forceUpdate()` in the getter.

[2017-10-08 04:06] obedm503 commented on #164
what if from the outside a `WebComponent` looked just like a custom element made from extending `HTMLElement`. It'd be nice if diffhtml-components automatically setup setters and getters for non primitive proptypes (so not strings, numbers, and booleans) and those setters update the inner `props` object and triggered a render. the getters would just get from the `props` object

so this turned into

[2017-11-12 21:51] tbranyen opened #166 "Namespace attributes get parsed incorrectly"
`xml:space="preserve"` gets treated as `xml="xml" space="preserve"` which is not right.

[2017-11-24 16:52] tbranyen commented on #166
Updating attr regex to account for `:`

[2017-12-28 03:21] tbranyen commented on #166
Closed in 62a6577d914825998edd4edb05404d8fe873acc3 and #167

[2017-12-28 03:21] #166 closed

[2018-03-05 15:24] markitosha opened #168 "Wrong <link> attributes"
when <link> tag processed with innerHTML method, sometimes appears wrong attributes `as="undefined"` and `type="undefined"`

[2018-03-05 18:26] tbranyen commented on #168
How do I reproduce this?

Created a JSFiddle for you to help illustrate the problem: https://jsfiddle.net/y4Lbzpnt/4/ as standards looks to be operating correctly.

[2018-04-05 01:19] #168 closed

[2019-04-21 05:02] tbranyen opened #170 "Using innerHTML prop sometimes throws an error"
Using something like:

[code]

[2019-07-24 03:15] tbranyen opened #173 "Change self closing error text"
When in strict mode, the following text can appear:

[code]

This should probably say,

[code]

A self closing tag looks like `<li />` whereas this error occurs when you forget to close a tag.

[2019-07-27 01:34] tbranyen commented on #173
Closed in 7b19e12c1c4972768e020ebb0d0a3f76b0806da4

[2019-07-27 01:34] #173 closed

[2019-08-24 03:54] tbranyen opened #174 "Devtools issue"
[code]

When passing a circular object as a prop.

[2019-09-23 04:12] #170 closed

[2019-09-23 07:06] #161 closed

[2019-09-23 07:06] #160 closed

[2020-03-23 18:17] tbranyen commented on #91
The core codebase has been changed to checkJs, a feature in TyepScript. This allows definitions to be generated directly from the source.

[2020-03-23 18:17] #91 closed

[2020-03-28 20:35] tbranyen commented on #68
Not going to worry about this for the initial release. The [diffhtml-static-sync](https://github.com/tbranyen/diffhtml/tree/master/packages/diffhtml-static-sync) module does some simple HMR which is good enough for most static cases.

[2020-03-28 20:35] #68 closed

[2020-04-05 21:14] tbranyen commented on #160
I solved this using `InstanceCache` taking in an array of components that are mapped in the tree. Since we squash down all components into at least one or more VTrees, this makes it easy to preserve the order. This will also make it possible to fully show the ComponentTree in the developer tools.

[2020-04-07 02:17] tbranyen opened #178 "Possible routing middleware API"
Routing should be solved in the diffHTML fashion; with a well defined api and lots of options to fulfill it.

Possible ideas:

#### Config defined in markup

[code]

#### Config defined in use

[code]

#### Define a router object and scope to a route

[code]

#### Use string approach with config in use

[code]

#### Use string approach with config in markup

[code]

[2020-04-15 20:45] #174 closed

[2020-04-19 05:58] tbranyen commented on #164
This has been done for a while and I just forgot to close this out.

[2020-04-19 05:58] #164 closed

[2020-05-02 02:30] tbranyen opened #179 "Remove prop-types requirement / fake-prop-types warning"
prop-types package should be optional, and allow for typeof checks using strings, or instanceof checks, using functions/constructors. If real prop-types are used, checkPropTypes can be called.

[2020-05-03 19:53] tbranyen opened #180 "Fix running diffhtml on the website with the static-sync tool"
For some reason this is causing a problem having two versions of diffHTML on the same page with the static-sync server.

[2020-05-03 19:57] tbranyen opened #181 "When passing a single attribute default to boolean for components"
[code]

This should be `checked=true` for property and `checked=checked` for the attribute.

[2020-05-03 19:57] tbranyen opened #182 "Removing attributes like checked do not unset the property"
Which means the checked remains checked even after removing the attribute.

[2020-05-03 19:59] tbranyen opened #183 "HoC first child does not hold DOM reference"
While HoC fully render, they are not binding correctly to `NodeCache` and possibly aren't protecting children as devtools shows them as allocated, but not protected.

[2020-05-03 20:00] tbranyen opened #184 "Inline transitions does not rebind properly after unsubscribed and subscribed again"
We should store the last known good state and restore this instead of keeping everything purged.

[2020-05-05 21:50] AutoSponge commented on #181
I'm curious why you want to force XML semantics here. I noticed the current tests don't use `hasAttribute` for Booleans but it does pass if those assertions are added.

[code]

[2020-05-06 03:34] tbranyen commented on #181
In this case it's more about aligning closer to how React works rather than XML/HTML semantics. As component code I'd expect this to produce `checked=checked` as an attribute and `checked=true` as a property. `checked: 'checked'` is a less useful prop value for a Component is why I'd prefer a boolean there.

[2020-05-06 07:00] tbranyen commented on #181
Closed this in c46c6ab if you're interested in checking it out.

[2020-05-06 07:00] #181 closed

[2020-05-07 22:36] #179 closed

[2020-05-07 22:36] #182 closed

[2020-05-08 18:44] #184 closed

[2020-05-12 04:34] #180 closed

[2020-05-12 04:34] #183 closed

[2020-05-13 21:37] kwf opened #185 "innerHTML causes SVG rendering glitch when inserting nodes"
# Description

When diffHTML's `innerHTML()` function is used to modify an `<svg>` element in the page, diffs which require a new node to be inserted to the SVG's DOM (such as changing an element's tag) will fail to properly re-render the SVG in the browser's view, resulting in a blank image being displayed instead.

I've put together an interactive example demonstrating this behavior on Glitch: h

[2020-05-13 22:43] tbranyen commented on #185
Hi @kwf, thanks for the fantastic issue reporting. This does indeed look like a bug with the `isSVG` check. When I ran the logger middleware, all the mutations appear correct, but when inspecting the `namespaceURI` property of both elements, I get different values.

[code]

This is sort of tricky to solve:

1) We do not want to maintain a hardcoded list of SVG elements
2) We will eagerly create el

[2020-05-13 23:46] tbranyen commented on #185
I came up with a fairly elegant solution that involves using a Set and tracking the VTree references there. Once it passes, I'll cut a new release as this does not change the public-facing API.

[2020-05-14 00:07] kwf commented on #185
That's fantastic! I'd be very curious to understand how it works, if/when you have the time to write it up. :)

If this solution works, no need to pursue others, of course, but since I just thought of an alternate sketch of a resolution, I'll note it:

If the issue is fundamentally that you don't know what namespace to use when you create the element, but you do right before it's to be inserted, p

[2020-05-14 00:10] tbranyen commented on #185
Sweet if you force refresh your example in Glitch you will see it works fine now. Please keep filing issues. The more usage and coverage, the better.

The problem with deferring Node creation is that for transitions (such as attached, detached, replaced), we want to have all attributes and text already set so that you can do a seamless fade in or fade out without having the elements be in a weird

[2020-05-14 00:10] #185 closed

[2020-05-14 00:17] kwf commented on #185
Looks good to me! I'll certainly keep filing issues if/when I encounter them. In my testing, I've seen a few sequences of alternations between `element.innerHTML = ...` and `innerHTML(element, ...)` that cause the latter method to stop having an effect. I haven't got a minimal example yet, but I'll see if I can make one (seems like it might be related to the cache getting in a weird state when the

[2020-05-14 00:28] kwf commented on #185
Ah, I see you've already got those tests in place. Sweet!

[2020-05-15 03:39] tbranyen opened #187 "More efficient garbage collection"
diffHTML uses a large memory pool for VTrees to ensure efficient diffing. A potential optimization is when and how `gc()` is called. Currently this method is triggered whenever a transaction completes (rendering finished). For small interactive applications that are re-rendered frequently, it may be smarter to defer and use more of the pool. When dealing with large applications that cannot exceed

[2020-05-18 01:32] tbranyen opened #188 "Fix missing attributes in devtools"
![image](https://user-images.githubusercontent.com/181635/82166260-c0fe4280-986c-11ea-8237-8c0c39a563f3.png)

[2020-05-18 04:05] tbranyen opened #189 "html.trim"
Currently, diffHTML makes it slightly more complicated to use `outerHTML` when you have leading and trailing whitespace. This makes a **`#document-fragment`** with `[#text,div, #text]` as children:

[code]
This feature would allow someone to write:

[code]

When invoked this function would return only a `<div />` VTree. There is probably a better way of solving this.

[2020-05-18 04:07] tbranyen commented on #189
One question would be using this with `isStrict`. I suppose options could be passed, but perhaps a chaining mechanism would make sense so you could do something like:

[code]

or

[code]

[2020-05-23 20:27] tbranyen opened #190 "Possible to unify React-like and Web Components?"
The logic is already mostly shared between the two implementations. This would allow importing React components and using them as Web Components. The major difference would be defining if the Shadow DOM should be used or not. This would effectively make it so you would only ever need to import `Component`, and then use the result immediately in a Custom Element definition.

[code]

[2020-05-30 19:11] tbranyen opened #191 "Rename runtime to lite"
I never liked the import path **diffhtml/runtime** and before shipping a stable major version, this should be renamed. By renaming it to **diffhtml/lite** it emphasizes that it is a slimmer API surface and smaller filesize. The term _runtime_ to someone not familiar with diffHTML is confusing and hard to explain.

[2020-07-22 08:39] dyoder opened #193 "How To Tell diffHTML To Remove A Script Tag"
Please advise if this isn't the right place for this. The links on the Web site (Twitter, Reddit, …) didn't seem particularly active.

I have been using diffHTML for several years now. Works great. However, I recently came across a scenario that is causing me trouble. I am dynamically updating the `head` in a single-page Web app. In particular, the updated HTML doesn't contain a given script tag.

[2020-07-22 19:40] dyoder commented on #193
To clarify: how can I let diffHTML know that a given _dynamically added_ script tag is okay to remove?

[2020-07-22 20:20] tbranyen commented on #193
Can you provide a reduced test case on Glitch or something similar? I've failed to reproduce this issue with existing or dynamic script.

https://encouraging-nifty-bloom.glitch.me/

https://speckle-balsam-gram.glitch.me/

[2020-07-22 20:22] tbranyen commented on #193
diffHTML should have no opinion on scripts, and should remove them like any other element. If you're seeing inconsistent behavior, then that is definitely a bug and not intended. The only way that `<script>` and `<link>` tags are different is that their `src` and `href` attributes are treated as `key` to avoid unintentionally re-executing their contents if they change position in the DOM.

[2020-07-23 08:24] dyoder commented on #193
Here you go:

https://regal-frequent-motorcycle.glitch.me

A bit of explanation: I add a script that adds a script. (Specifically, the Google Analytics script.) diffHTML removes the initial script, but will leave the script that script added. I haven't tried to further simplify this to see if the issue is simply that the script is adding a script. But I can do that if you feel that would help debu

[2020-07-25 20:19] tbranyen commented on #193
Thanks for the context and I'll look into this issue and try and reproduce into a unit test. What diffHTML does is cache the last known `outerHTML` of the element being rendered into and use that to diff at the next render cycle. If these differ at the start of a render diffHTML will recalculate the virtual dom to make comparisons stable. What might be happening, is that the GA script gets added s

[2020-07-26 21:16] dyoder commented on #193
Thank you. And thank you again for this wonderful set of libraries. I am glad to know this is a bug and not some misunderstanding on my part. I had looked at the source and couldn't find anything other than the treatment of src as a default key (which is quite clever). FWIW, I did use the logging middleware (which confirmed that diffHTML did not include the script removal in the diff) but didn't t

[2020-07-28 05:58] tbranyen commented on #193
My hunch was right and I wrote a unit test to show the issue:

[code]

When I remove `previousMarkup` lookups and always rebuild the tree per render the test passes. There will be a performance hit with this change. I'll open a PR and get a build available for you to test.

[2020-07-29 01:12] dyoder commented on #193
Given that there's a performance hit here, I wonder if perhaps this should be a configuration option. Although I'm unsure as to where that would be set.

[2020-07-29 05:13] tbranyen commented on #193
I'm investigating if there is a better way of handling this problem. My initial assumption is that there isn't going to be a straightforward solution. What may need to happen is to defer script execution till after patching has completed, how to do this without tripping up CSP is going to be a challenge.

[2020-08-03 18:41] tbranyen commented on #193
Hi @dyoder sorry it's taking so long to land a fix for this bug, but you stumbled on something that is worth fixing properly. I've introduced a new configuration option to enable/disable script's from running, and have a method in place to stop scripts from executing by default, and only trigger once rendering has fully completed.

Logic for script handling is now:

1. Track all new script tags by

[2020-08-03 23:31] dyoder commented on #193
Thanks for the update! Your work to address this comprehensively is much appreciated. There is no rush on my account and please advise if there's anything I can do to help.

[2020-08-10 01:33] #193 closed

[2020-08-10 04:01] dyoder commented on #193
🎉

[2020-08-10 16:14] tbranyen commented on #193
@dyoder I'll have a release out ASAP. Not sure why but lerna/npm/yarn have stopped working in this project locally. I can see Travis CI installed just fine, so I'm fairly certain it's something messed up specifically in my local env.

Will ping once it's out

[2020-08-11 01:47] tbranyen commented on #193
v1.0.0-beta.18 is published which contains this fix. Let me know if you hit any issues, and thanks again for reporting!

[2020-08-11 01:54] tbranyen commented on #193
I verified that https://regal-frequent-motorcycle.glitch.me/ correctly removes the script tag now :tada:

[2020-08-11 02:12] #191 closed

[2020-08-11 09:44] dyoder commented on #193
I'll let you know how it goes. Thank you for your work on this!

[2020-08-14 01:58] dyoder commented on #193
Works like a charm!

[2020-08-18 21:07] tbranyen commented on #157
Doesn't seem to be easy to integrate and different frameworks implement different tests. Once there is a standard measure to assess, we can implement this.

[2020-08-18 21:07] #157 closed

[2020-08-20 00:19] tbranyen commented on #189
This isn't a good idea, if we implemented this, we'd end up introducing code like:

[code]

The better way of addressing this is to introduce a parser option which can be configured to trim white space.

[2020-08-20 00:22] tbranyen opened #197 "Unify render-to-string and core"
Given the very tiny amount of code needed for rendering to string, I'm considering adding this into core. Currently render-to-string only works in Node and is better suited as a top-level API.

[code]

[2020-08-20 05:25] tbranyen opened #198 "Validate perf measures with async rendering"
Each transaction should have unique measures, but when running in async mode, I find that events are not aligned and render incorrectly in the Chrome profiler.

[2020-08-22 19:57] tbranyen opened #199 "Formalize configuration handling"
Library configuration handling is always a pain. For diffHTML I think it should be possible to enable/disable configuration in a standard and formal way that is also flexible. Currently there are many configuration settings, such as the memory object size which needs an initialization value at execution time to fill the pool. If you wanted to change this right now, you'd be doing it after the fact

[2020-08-30 20:47] tbranyen commented on #189
Ultimately the problem here seems to be that diffHTML doesn't handle newlines well in some cases. This motivates the need for a `trim`. Someone could just reformat their code to support this natively, without any changes. This will not look as consistent as other template blocks.

If diffHTML handled the newlines better for `outerHTML`, this would be less of an overall problem.

[2020-09-08 02:27] dyoder opened #201 "Allow for filtering of nodes in middleware"
This may already be possible and I just don't understand middleware well enough to do it, but we have a requirement to be able to exempt certain nodes from the diff. My guess is that the best way to satisfy that requirement would be to hook into the diff process via middleware and effectively cancel updates that meet a certain criteria. Any guidance or assistance would be much appreciated, thank y

[2020-09-08 03:08] tbranyen commented on #201
I think this test will be useful:

[code]

Something like this:

[code]

[2020-09-08 03:34] dyoder commented on #201
Thank you for the quick reply! We'll try that out. Closing this, but is there a better place to ask follow up questions if we have any trouble?

[2020-09-08 03:46] tbranyen commented on #201
Here or you can use gitter and ping me so I get a notification: https://gitter.im/tbranyen/diffhtml

[2020-09-09 03:27] tbranyen commented on #201
Created a scenario here that shows how complicated this can be with dynamically added elements: https://glitch.com/edit/#!/wide-evanescent-bill?path=script.js%3A7%3A27

We can improve this by considering it during sync.

[2020-09-12 23:48] #201 closed

[2020-09-23 16:12] rzhornyk opened #203 "Dot in attribute name"
Using diffhtml I faced with issue when in attribute name present dot parser not properly handle it.
Example:
Input markup
```<div data-event-click.prevent="handleClick"></div>```
Result of applying will be:
```<div data-event-click="data-event-click" prevent="handleClick"></div>```

P.S. Very nice library! Good job!

[2020-09-23 16:15] rzhornyk commented on #203
Here is suggested fix https://github.com/tbranyen/diffhtml/pull/204

[2020-09-23 16:23] rzhornyk opened #205 "Comment inside script tag"
We use script tag to save mustache templates. Our backend generate automatically comments tag inside.
Here simplified markup:
[code]
This comment and logic around "doctypeEx" variable in `parse.js` file cause script node to become empty because comment match doctype regexp and skip adding text element inside script.

[2020-09-23 16:24] rzhornyk commented on #205
Here is suggested fix https://github.com/tbranyen/diffhtml/pull/206

[2020-09-28 14:23] tbranyen commented on #205
HTML comment syntax is also valid JS syntax, so this is a good catch! I'm writing a test now to validate this fixes it as expected. Thanks!

[2020-09-29 19:51] tbranyen commented on #205
I wrote a test to validate the fix and I'm unable to get it to work. I think we may need a few additional changes to fully support this feature.

[code]

[2020-11-12 16:37] #203 closed

[2020-11-12 16:37] tbranyen commented on #205
Closed in #207

[2020-11-12 16:37] #205 closed

[2021-01-21 17:22] #187 closed

[2021-02-16 03:57] tbranyen commented on #197
This has been completed locally. Brings in `toString`.

[2021-02-16 03:57] #197 closed

[2021-02-16 03:59] tbranyen commented on #189
Turns out this can be solved with outerHTML. When diffing take the first match and interpolate the rest.

[2021-02-16 03:59] #189 closed

[2021-02-16 04:00] #188 closed

[2021-03-15 20:41] tbranyen commented on #190
This is possible thanks to the great suggestion by @rniwa found in here: https://github.com/WICG/webcomponents/issues/587. If the component has been registered with `customElements` we can automatically put the component in "web" mode. This means that function components will work as well! There will be a single package/build to handle function components (stateless, stateful, and web) and class c

[2021-03-17 17:20] nbianca opened #209 "innerHTML <code> contents is escaped"
Hello,

I am using diffhtml's innerHTML with \<code> elements and the contents is escaped even if it is not necessary.

[code]

[code]

will output

[code]

but I expected

[code]

I think the problem is related to the HTML parser:

[code]

[2021-03-17 17:49] tbranyen commented on #209
This is intentional since typically `<code>` is designed to display code and not necessarily render markup. I can see how this is problematic as `innerHTML` and `outerHTML` are designed to work like their DOM counterparts, and they are differing here. I will look into supporting unescaped markup.

In the meanwhile you can work around this using a transition handler:

[code]

[2021-03-17 17:55] tbranyen commented on #209
@nbianca ah good call with the parser debugging. Since code is treated as a block level element, it will not parse the internal HTML. You can work around that even easier with:

[code]

[2021-03-18 17:28] #209 closed

[2021-03-24 19:58] tbranyen opened #215 "Ensure nomodule works for scripts"
The `nomodule` attribute prevents modern browsers from executing a script in favor of a more modern one using `module`.

I haven't tested this feature with the `executeScripts` config option, so leaving this note here to add an explicit test.

[2021-03-24 20:29] tbranyen commented on #190
There is more work to do, but they are unified now in master and I will continue to improve so that the performance and expectations are met. Right now class components inherit from HTMLElement which is not correct as only Web Components should.

[2021-03-24 20:29] #190 closed

[2021-03-24 20:29] tbranyen commented on #199
This has landed in master as well.

[2021-03-24 20:29] #199 closed

[2021-03-24 20:32] tbranyen commented on #198
This is due to the fact that measure is mapped to mount and input rather than the transaction and that marks are sampled globally. To fix this, we will need to pass in the transaction directly to `makeMeasure` and scope marks to each unique transaction. That should produce completely accurate profiling.

[2021-03-25 03:08] #198 closed

[2021-04-22 10:55] nbianca opened #217 "Handling external changes"
Hello,

I am changing the contents of an element using both diffhtml's innerHTML and element's innerHTML field.

In the example below you can see what happens when you use only innerHTML to set the content ('#example1') and diffhtml's innerHTML ('#example2').

Steps to reproduce:

1. Use the script below.
2. Press the first button to do an initial render, using innerHTML and diffHTML's innerHTML.

[2021-04-22 15:56] tbranyen commented on #217
Very nice reduced test case. The problem is clear now. diffHTML currently on respects external changes if they are different from its previous markup. This is not good. Because as you have found, when the markup is replaced, but identical, the engine believes the markup has not changed. This means it doesn't know to rescan the DOM and learn about the replaced image.

The fix here is sort-of straig

[2021-04-23 03:51] tbranyen commented on #217
I ended up going with a `MutationObserver`. This ensures that all changes are accounted for in the mounted element. Not the most ideal, but it does work perfectly to ensure we do not operate on a DOM that has been modified and not rectified. Maybe in the future this could be done while syncing, but for now this solves the problem in an elegant way.

[2021-04-23 03:52] #217 closed

[2021-04-28 02:32] #178 closed

[2021-04-28 02:44] tbranyen opened #223 "release() method unprotects all associated VTrees to a given dom node"
This is problematic as the DOM node could be actively reused in the new tree that is to be diffed. If we fully clean this up then we are now diffing against a tree in an incorrect state (VTree memory should be protected not free). I found this bug after uncommenting: https://github.com/tbranyen/diffhtml/blob/master/packages/diffhtml/lib/util/memory.js#L36-L37

Running the tests with attributes and

[2021-05-03 17:58] tbranyen commented on #217
Just a heads up @nbianca, this was released today in 1.0.0-beta.19. Let me know if you encounter any issues with the upgrade.

[2021-05-10 17:45] tbranyen opened #227 "Allow < or > characters in attribute values"
This bug was found in Nokogiri via @nbianca in Discourse. I tried this out in the diffHTML parser and it also bugged out. Producing incorrect results.

Here is how it works in the browser:

[code]

[2021-05-13 18:13] tbranyen commented on #227
Notes on a potential fix: Inside the HTML parsing where attributesEx is used, detect when we are inside an attribute parse, and continue looping, instead of using a single pass; andbuild up the markup until we reach the logical end of the attribute. Also worth nothing that the browser does the best job it can, so if you provide markup like `src=<>` without quotes, it will only parse up to `<`, tre

[2021-06-04 20:14] #227 closed

[2021-11-04 21:27] tbranyen opened #230 "Problem with fragments"
When using the babel plugin, sometimes fragments occur which break the normal flow of reconciliation. Need to produce a minimal representation of the problem.

[2021-11-22 16:39] tbranyen opened #233 "Look into diffhtml.org nginx configuration"
Recently the diffhtml.org website has started to load extremely slowly. I've swapped over asset urls to use github.io, but that doesn't help the initial `/` request. Will need to dig into why `diffhtml.org/core` loads instantly, but `diffhtml.org/` is lagged.

[2021-11-30 06:51] yatesco commented on #233
came here to say this. Loading any new page just times out.

[2021-11-30 16:56] tbranyen commented on #233
Sorry about the downtime @yatesco! Until it's fixed you can access the docs via: https://tbranyen.github.io/diffhtml. I verified the problem isn't with nginx. When searching the GitHub Pages settings, I noticed there is a section for verified domains. Since diffhtml.org isn't verified yet, it's possible that's what is causing the timeouts.

I'll update the thread if I make any progress.

[2021-11-30 20:26] tbranyen commented on #233
I've opened a support ticket with GitHub to investigate why proxying is timing out.

[2021-12-01 11:49] yatesco opened #238 "Etiquette - questions here or Discussions?"
Hi there - I just wanted to double check - do you prefer questions here or in Discussions? I notice that until I polluted Discussions with my entries ;-) it was used as a sounding board/notes for yourself and there are a bunch of questions raised as GitHub issues.

Thanks

[2021-12-01 23:10] tbranyen commented on #238
Probably discussions would be better if it's for new features or questions not related to an issue. If you have a problem or want to request a feature, I would start with Issues.

[2021-12-02 20:54] #238 closed

[2021-12-02 21:13] tbranyen commented on #233
I've switched back to self hosting for now. This fixes any issues loading the site.

[2021-12-06 04:06] tbranyen commented on #223
I'm not going to pursue this much further for now. If someone wanted to control memory, they could use the ReleaseHook in middleware to remove the childNodes/attributes. It's too hard to predict and I don't want to implement more complex memory management.

[2021-12-17 05:57] cetinsert opened #242 "boolean attributes get non-empty string values repeating the attribute name: attr="attr""
After
[code]

expected DOM state:
[code]

got:
[code]

---

1. Is there a reason why this is the case?
2. Is there a way to get the expected output?
    1. if no, can this be addressed as a bug to fix?
    2. or at the very least handled via a config option?

[2021-12-17 13:56] tbranyen commented on #242
This is due to interpolation and how we don't differentiate between the following:

[code]

and

[code]

That said it can and should be fixed. Thanks for opening!

[2021-12-17 22:03] tbranyen commented on #242
Opened a fix here: https://github.com/tbranyen/diffhtml/pull/243

[2021-12-18 04:13] #242 closed

[2021-12-18 08:25] cetinsert commented on #242
@tbranyen – thank you very much for the immediate response! When is the next release scheduled?

[2021-12-19 02:26] tbranyen commented on #242
Just published as 1.0.0-beta.22

[2021-12-20 00:40] tbranyen opened #245 "Issues with createState"
Noticed this didn't work on the server, need to investigate. Placeholder issue.

[2021-12-20 18:55] tbranyen opened #246 "More tests for babel transform plugin"
In order to write more tests for this plugin, we need to change the way they are written and executed. Currently a full file rebuild is done using the CLI vs using the babel imperative API per test.

- [ ] All possible mount/input permutations
- [ ] All possible attribute permutations

[2021-12-20 19:04] tbranyen opened #247 "DevTools remaining tasks"
- [ ] Improve performance so that renders using `requestAnimationFrame` do not crash the tool
- [ ] Fix enable/disable middleware feature

[2021-12-20 20:55] tbranyen opened #248 "React compat missing several methods and hooks"
Before we can ship a 1.0, we need more baseline compatibility with React components. Since most components are using hooks now, we'll need to wire up support using `createState` and `createSideEffect`.

[2022-01-19 15:44] cetinsert opened #249 "executeScripts does not work in Firefox"
With
[code]
**Firefox** does not execute scripts!
![image](https://user-images.githubusercontent.com/27027/150164648-3e799626-2d83-4686-a09b-9c9075636f95.png)

while other browsers do
![image](https://user-images.githubusercontent.com/27027/150164822-5ee764b0-1719-438b-a16c-07d615741ecb.png)

---

**Firefox** also does not execute non-inline scripts:

[code]

---

https://github.com/tbranyen/diffh

[2022-01-19 16:07] cetinsert commented on #249
[code]
works in all browsers.

[2022-01-19 16:51] tbranyen commented on #249
Thanks for bringing up this bug, it's a big one. Very strange that Firefox behaves differently than Chrome here.

The reason we clone a new script vs creating with `createElement` is that when you load the page with a content security policy you won't be able to modify certain scripts after the first page load. Therefore we clone and retain them until they are needed.

It appears Firefox struggles

[2022-01-19 16:54] tbranyen commented on #249
Ah, I think I found a workaround. If we clone the original script before we attach the type change, we should be able to reuse that one later vs cloning at the end of the render.

[2022-01-19 17:25] tbranyen commented on #249
Opened a fix here: https://github.com/tbranyen/diffhtml/pull/250. I ended up using your advice to `createElement` and use `textContent`.

[2022-01-19 17:41] cetinsert commented on #249
@tbranyen – hopefully this does not introduce regressions with all the subtle `<script>` variations we have to deal with these days. (`type=module`; inline vs via `src=`; `defer`, `async`; etc.)

[2022-01-19 18:44] cetinsert commented on #249
Once you confirm and close this issue. I will be looking forward to a new CDN (`module`) link including this fix!

[2022-01-19 19:34] tbranyen commented on #249
All original props and attributes are mirrored so I think we are covered on that front :+1:

[2022-01-19 19:52] tbranyen commented on #249
https://diffhtml.org/core/version points to 1.0.0-beta.23 now which contains the fix. Please reopen if you find any issues with the new behavior.

Thanks for reporting!

[2022-01-19 19:52] #249 closed

[2022-03-25 12:59] Dan-Do opened #253 "Function component: how to use props as slot like custom component?"
Hi @tbranyen,
Here is my pseudo-code:
[code]
Is it possible without using `web-component`?

[2022-03-25 16:18] tbranyen commented on #253
You should be able to pass like:

[code]

[2022-03-27 16:26] Dan-Do commented on #253
Hi @tbranyen,
Can I use `componentWillMount` in function component?
Thank you

[2022-03-28 16:38] tbranyen commented on #253
Also to be clear this will only map `componentDidMount` as `componentWillMount` is only available in class components.

[2022-03-28 20:42] tbranyen commented on #253
I'm thinking of using the following signature:

[code]

[2022-03-29 13:15] Dan-Do commented on #253
Hi @tbranyen I am new to SPA, and I haven't looked at React so I don't know it's features.
For this small request, I just want to fetch data using `async/await` then render, then attach to the DOM. I tested the following code but it repeat forever:
[code]
I will try `createSideEffect` and get back later.

[2022-03-29 13:43] Dan-Do commented on #253
It seems the version of unpkg.com is different from the master brand. This line is currently in unpkg, which upgrades function to class component
https://github.com/tbranyen/diffhtml/blob/0be438ffd87f6b4d5c4d8b6e68542b41ab9bd8f8/packages/diffhtml-components/lib/render-component.js#L92
but master brand is `renderedTree = createTree(Component(props));`
https://github.com/tbranyen/diffhtml/blob/4968e

[2022-03-29 13:53] Dan-Do commented on #253
I am using ES6 module in browser
[code]
Error: `Uncaught SyntaxError: import not found: createSideEffect`

[2022-03-29 14:29] tbranyen commented on #253
Hi @dan-do I have not yet added the `createSideEffect` method. I will put it in today, I think that will suffice for your needs.

[2022-03-29 17:25] tbranyen commented on #248
All React hooks:

- [ ] [useState](https://reactjs.org/docs/hooks-reference.html#usestate)
- [ ] [useEffect](https://reactjs.org/docs/hooks-reference.html#useeffect)
- [ ] [useContext](https://reactjs.org/docs/hooks-reference.html#usecontext)

- [ ] [useReducer](https://reactjs.org/docs/hooks-reference.html#usereducer)
- [ ] [useCallback](https://reactjs.org/docs/hooks-reference.html#usecallback)

[2022-03-30 21:25] tbranyen opened #256 "Components do not mount if missing a return value"
Return values in a render are currently optional. If you do not return anything in a render, we do not mount the component. This is confusing behavior and it would be better to simply error if nothing is passed or default to an empty string.

[2022-03-31 01:28] tbranyen commented on #245
This appears to be working fine now after some of the latest changes.

[2022-03-31 01:28] #245 closed

[2022-03-31 03:41] tbranyen commented on #253
@Dan-Do added in 1.0.0-beta.24: https://diffhtml.org/components.html#create-side-effect

[2022-03-31 04:46] tbranyen commented on #256
Closed in #344bbb1

[2022-03-31 04:46] #256 closed

[2022-03-31 18:26] tbranyen commented on #253
New version 1.0.0-beta.26 contains the fix for the aforementioned bug.

[2022-04-01 00:41] cetinsert opened #261 "delete in removeAttribute causes TypeError"
Please note that in the following only the second `delete` is in a `try` `catch`:

https://github.com/tbranyen/diffhtml/blob/cab7fb3ce9da8d12e32d10c7d15182f1b08856d9/packages/diffhtml/lib/node/patch.js#L87-L105

The first `delete` in

https://github.com/tbranyen/diffhtml/blob/cab7fb3ce9da8d12e32d10c7d15182f1b08856d9/packages/diffhtml/lib/node/patch.js#L94

causes https://developer.mozilla.org/en-U

[2022-04-01 00:58] tbranyen commented on #261
Can you post an example of what is breaking? The first delete is not in a try/catch intentionally for performance reasons. This code attempts to delete a property and if it succeeds, marks that property as safe for a given tag name. That's the only way the first delete will be reached.

[2022-04-01 01:42] cetinsert commented on #261
Here is an absolutely minimal case: https://tw.uido.co/test/index.html

[code]

[2022-04-01 03:13] cetinsert commented on #261
@tbranyen – I have demoed and described the problem/solution in the above 2 comments.

[2022-04-01 03:18] tbranyen commented on #261
Fix opened here @cetinsert https://github.com/tbranyen/diffhtml/pull/262

[2022-04-01 03:33] tbranyen commented on #261
Darnit, so my Travis CI account just ran out of open source credits. My account should reset in an hour and a half when the new month starts. Would be awesome to convert this project to GitHub Actions CI infra instead.

[2022-04-01 03:38] #261 closed

[2022-04-01 03:46] tbranyen commented on #261
Released in https://github.com/tbranyen/diffhtml/releases/tag/v1.0.0-beta.27

[2022-04-01 13:12] Dan-Do commented on #253
Thanks @tbranyen it works nice. I will come back if finding any issue.

[2022-04-01 15:30] Dan-Do commented on #253
Hi @tbranyen Just notice that you release version `beta-27` which made it not work anymore.
I added more html to the codepen, link
https://codepen.io/ali33yukisakura/pen/ZEvXNeZ?editors=1011

[2022-04-01 18:48] tbranyen commented on #253
I can see a bug in the code that prevents deeply nested components from getting mount/unmount lifecycle events. I've updated the unit tests and will have a fix out by this weekend. Thanks for your patience, this is really helpful having real usage with the components layer.

[2022-04-02 03:18] tbranyen commented on #253
@Dan-Do I've refactored how lifecycle events are fired and it appears way more stable now since I cache exact component instances to trigger mount on vs crawling to find them.

When I update your codepen to use https://diffhtml.org/components instead of unpkg it works great. Can you try this for a bit and let me know what you think? Once you're happy with it I'll promote out a new version and you

[2022-04-02 10:52] Dan-Do commented on #253
@tbranyen when I use
`import { createState, createSideEffect } from 'https://diffhtml.org/components';`
it said
`SyntaxError: import not found: createSideEffect`

[2022-04-02 14:32] tbranyen commented on #253
@Dan-Do probably a cache related issue. Can you fully wipe the browser cache or test your codepen in incognito mode?

[2022-04-02 14:54] Dan-Do commented on #253
Hi @tbranyen It works now.

However I had an issue on my localhost but I cannot reproduce it on codepen.

I have a ViewMain
[code]
The `CompForeignerStatistic` uses createSideEffect we discuss so far.
It messed when rendered
[code]
Do you have any idea where to investigate?

[2022-04-02 15:43] tbranyen commented on #253
Looks like something weird with the HTML parser, where it's treating the adjacent div like attributes. Will see if I can reproduce the issue.

[2022-04-02 15:47] tbranyen commented on #253
The codepen you shared before has similar code which looks fine:
![image](https://user-images.githubusercontent.com/181635/161390759-056bd514-94c0-449a-8b5f-ba5f0a660cc0.png)

Can you share the code that includes `CompForeignerStatistic`?

[2022-04-02 15:51] tbranyen commented on #253
I made a reduced test case and can't reproduce there either:

[code]

[2022-04-03 03:10] Dan-Do commented on #253
@tbranyen I know what makes that error.
Please visit the codepen, change this
[code]
by removing the line break in html like this:
[code]
Then the `<div class="success">Hello 👨 OK!</div>` won't be rendered.

[2022-04-03 03:44] tbranyen commented on #253
Awesome, I can reproduce this bug. I will put in a fix asap.

[2022-04-03 15:59] tbranyen commented on #253
So the reason this is happening is that I added support for special HTML characters `<>/` inside attribute values, which is messing up the parsing. I've got a solution locally that works excellent, by first separating out the individual tags, and then parsing the internals.

I think it'll be ready today. So for now you could break up your markup to separate lines to avoid any bugs, and once I get

[2022-04-03 17:21] tbranyen commented on #253
![image](https://user-images.githubusercontent.com/181635/161440040-ae68f7e7-f6be-4c2e-949a-7cccb51a77f7.png)

This regex appears plenty sufficient to chunk out the tags, and then I'm going to use the existing regex to parse out the tagName and attributes.

[2022-04-13 22:15] justjake opened #267 "diffhtml/lite: `innerHTML(someNode, "only text")` fails"
I am trying to use innerHTML to update a DOM node to contain the given text. With `innerHTML`, this fails with the following DOMException:

[code]

Browser: Chrome
Package: diffhtml@1.0.0-beta.27
Import: diffhtml/lite

This works fine with `diffhtml`.

[2022-04-13 23:02] justjake opened #268 "diffhtml: `process` is not defined"
The check for `process.env` breaks unless I use Webpack's `DefinePlugin` to replace the `process.env` check in diffhtml's source during build.

Consider first checking `if typeof process !== 'undefined')`.

[2022-04-14 00:47] tbranyen commented on #267
The lite version does not include an HTML parser, so you will need to precompile the string ahead of time using the Babel plugin. Alternative, you can use `createTree` to specify the tree.

[code]

[2022-04-14 00:48] tbranyen commented on #268
Do you know where this is happening?

[code]

We already should be guarding against undefined it seems.

[2022-04-14 01:01] tbranyen commented on #268
I created a reduced test case and can't reproduce this behavior:

[code]

[2022-04-14 02:32] justjake commented on #268
Wait, how will running an example code in Node (which provides `process` globally) illustrate that `process` is (not) required? 😓

[2022-04-14 02:43] justjake commented on #268
Here's a repo with the repro steps you tried, plus an HTML page for trying out the bundle Webpack produces:

https://github.com/justjake/diffhtml-repro

Instructions to repro:

- `npm install`
- `npm build`
- `npx serve`
- Open the `npx serve` URL in your browser.

<img width="494" alt="image" src="https://user-images.githubusercontent.com/296279/163303389-a1c74b83-d3b6-48f6-9a58-23cf8843aae8.png"

[2022-04-14 03:01] justjake commented on #267
Alright, that makes some sense to me.

My use-case for diffhtml is to update a HTMLDivElement's `innerHTML` with either a static HTML string (which I am currently assigning to my node's `node.innerHTML` directly), or a ReactElement produced by vanilla React 16ish. Would the cheapest way to go about doing this be to use `diffhtml/lite` plus the React VDom conversion code in https://github.com/tbran

[2022-04-14 03:08] tbranyen commented on #268
Looks like webpack does weird things when it sees `process` in modules, even when the reference is pulled from a module export and not the global scope. I renamed all the internal references to `nodeProcess` instead of `process` and the error goes away:

![image](https://user-images.githubusercontent.com/181635/163305981-5592271a-8895-4e7b-8462-91fa7260310e.png)

[2022-04-14 03:14] tbranyen commented on #268
Kind of annoying fix, but it is important to support webpack defaults.

https://github.com/tbranyen/diffhtml/pull/270/files

[2022-04-14 03:30] tbranyen commented on #267
- Using strings will require parsing into some kind of object structure, so lite won't work for that, you'll need the parser from the core build. To support React elements and not components, you could do a transformation to put them into the correct shape:  `{ nodeName: string, attributes: object, childNodes: array }`.

- As for diffing actual DOM nodes, I'm not entirely sure, maybe morphdom coul

[2022-04-14 03:32] #268 closed

[2022-04-14 04:41] #267 closed

[2022-04-14 19:19] tbranyen opened #272 "Tracking new HTML parser work"
I am currently in the process of rewriting the >5 year old HTML parser that currently exists. The existing parser is a fork of [node-htm](https://github.com/ashi009/node-fast-html-parser) that is stripped down. Unfortunately the regexes are unnecessarily complex and the code is hard to work on. Instead I'm rewriting the parser to use a modern tokenizer approach and be zero-copy as possible for lar

[2022-04-20 20:52] tbranyen commented on #230
This is most likely due to the parser and once the new one ships the transform code should be more reliable. Going to close unless a reproducible test case is made.

[2022-04-20 20:52] #230 closed

[2022-08-08 17:02] tbranyen opened #276 "Cannot interpolate string attributes directly"
This works:

[code]

But this does not:

[code]

[2022-08-08 17:24] tbranyen opened #277 "createSideEffect runs on re-render even if already mounted"
The createSideEffect function allows one to hook into various lifecycle states. When using the mount lifecycle, I noticed that re-rendering the entire tree causes a re-mount when a component is already mounted.

[code]

[2022-08-08 17:25] tbranyen opened #278 "Parser bug where multiple elements on a single line fails"
The existing parser currently has a limitation where multiple elements defined on the same line breaks. This should be resolved with the new parser work.

[code]

[2022-08-08 19:02] tbranyen commented on #277
I believe this is also causing a problem with the patching layer, as it is looking for previously defined nodes that no longer exist:

![image](https://user-images.githubusercontent.com/181635/183494104-d3c6c7c9-13c5-4ff2-a935-338e2b7922bb.png)

[2022-08-15 00:56] tbranyen commented on #277
This seems to specifically affect nested components only.

[2022-09-21 10:06] yatesco opened #280 "Attributes without values breaks the parser"
Hi,

I've noticed that the parser doesn't like `<button readonly>` but `<button readonly="">` is fine. The error is: `      htmlElement.setAttribute(lowerName, emptyValue ? EMPTY.STR : value);` in the following listing:
[code]

Unfortunately, this is from the bundled source code so I can't find the exact reference - I hope that's sufficient?

<img width="880" alt="image" src="https://user-images.g

[2022-09-23 02:09] tbranyen commented on #280
Sorry :( the old parser was based off node-fast-html-parser, and as such inherited some issues. I have this fixed in the new parser, but still playing whack-a-mole with existing tests. It's getting very close!

[2022-09-23 10:53] yatesco commented on #280
No problem at all @tbranyen :-).

One critical bug/feature I use is the fact that it *doesn't* overwrite input fields if the page has newer data:
 - now: input field = "abc"
 - now+1 request latest from server
 - now+2: input field = "abcdef"
 - now+3 response from server, containing "input field=abc"
 - now+4 merge complete

Crucially, the input field contains "abcdef" *not* the "abc" from the se

[2022-09-23 18:23] tbranyen commented on #280
@yatesco I don't anticipate the behavior you're describing changing :+1:

[2022-09-23 22:06] tbranyen commented on #276
I've fixed this in the new parser.

Old:

[code]

New:

[code]

[2022-10-30 00:46] tbranyen commented on #223
Re-opened and fixed here: https://github.com/tbranyen/diffhtml/pull/281

[2022-10-30 01:03] #223 closed

[2022-10-30 03:28] tbranyen commented on #277
Fixed in: https://github.com/tbranyen/diffhtml/pull/282

[2022-11-21 14:39] tbranyen opened #287 "Can't run other packages with core using Deno"
When using Deno with core and some other package, the subsequent package is unable to find core. Currently core registers itself under `globalThis[Symbol.for('diffHTML')]` and then related packages hook into core by reading this value. This means core must always be loaded first. This works great in Node and the browser, but fails to work in Deno.

![image](https://user-images.githubusercontent.co

[2022-11-22 19:33] #278 closed

[2022-11-22 19:33] #276 closed

[2022-11-22 19:33] #280 closed

[2022-11-25 17:48] tbranyen opened #290 "setHTML"
~Moving to discussions~